<section class="conflict">
  <div legend="conflict creation" class="container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="form-container row">
        <div class="form-container column">
          @for (input of inputs.conflict; track input) {
            @if (input.displayCondition && input.type !== 'line') {
              <div class="flex flex-col gap-1">
                @if (input.type !== 'checklist') {
                  <label for="name" class="bold">{{input.label | translate}}
                    @if (input.suffix) {
                      {{input.suffix | translate}}
                    }
                  </label>
                }
                @if (input.type === 'info') {
                  @for (inputInfo of input.items; track `input-info-id-${inputInfo}`; let i = $index) {
                    @if (i === 0) {
                      <h3>{{ inputInfo }}</h3>
                    } @else {
                      <p>{{ inputInfo }}</p>
                    }
                  }
                  <p-divider />
                } @else if (input.type === 'text') {
                  <input
                    pInputText
                    type="text"
                    [id]="input.name"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }" />
                } @else if (input.type === 'number') {
                  <p-inputnumber
                    [inputId]="input.name"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    required
                    [min]="input.min || 1"
                    [max]="input.max || 10"
                    [step]="input.step || 1"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                } @else if (input.type === 'multiselect') {
                  <p-multiselect
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [options]="input.items"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    class="w-full md:w-56" />
                }
              </div>
            } @else if (input.displayCondition) {
              <p-divider />
            }
          }
        </div>
        <div>
          <p-button
            [label]="'pages.portfolio.dialog.saveButton' | translate"
            [pTooltip]="'pages.portfolio.dialog.saveButtonTooltip' | translate"
            severity="primary"
            (click)="updateProject(form)" />
        </div>
      </div>
    </form>
  </div>
  @if (currentProject.balance && currentProject.balance.conflicts) {
    <div legend="Conflicts" class="container scroll">
      @for (conflict of currentProject.balance.conflicts; track conflict) {
        <p-card
          [style]="{
            'max-width': '300px',
            'max-height': '700px',
            'margin': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }">
          <ng-template #title>
            <span class="bold">Область: </span> {{conflict.type}} ({{conflict.name}})
            <p-button
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              (click)="removeConflict($index)"
              pTooltip="Натисніть, щоб видалити конфлікт"
              severity="danger" />
          </ng-template>
          <ng-template #subtitle><span class="bold">Сторони:</span>
            @for (conflictSide of conflict.conflictSides; track conflictSide) {
              {{conflictSide}}
              @if ($index !== conflict.conflictSides.length - 1) {
                vs
              }
            }
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> Конфліктів не знайдено... </h2>
      }
    </div>
  }
</section>
