<app-header></app-header>
<section class="experts">
  <div class="container form-container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div>
        <p-stepper [value]="1" class="basis-[50rem]">
          <p-step-list>
            <p-step [value]="1">{{'pages.project.science.risksLeanFirstStepLabel' | translate}}</p-step>
            <p-step [value]="2">{{'pages.project.science.resultDigitalSecondLabel' | translate}}</p-step>
            <p-step [value]="3">{{'pages.project.science.resultClassicThirdLabel' | translate}}</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <h1>{{'pages.project.science.risksLeanLabel' | translate}}</h1>
                  <p-divider />
                  <div class="form-container column">
                    @for (input of inputs.risksLean; track input) {
                      @if (input.displayCondition && input.type !== 'line') {
                        <div class="flex flex-col gap-1">
                          @if (input.type !== 'checklist') {
                            <label for="name" class="bold">{{input.label | translate}}</label>
                          }
                          @if (input.type === 'text') {
                            <input
                              pInputText
                              type="text"
                              [id]="input.name"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'textarea') {
                            <textarea
                              pTextarea
                              type="text"
                              [id]="input.name"
                              class="mt-5"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              required>
                            </textarea>
                          } @else if (input.type === 'number') {
                            <p-inputnumber
                              [inputId]="input.name"
                              [showButtons]="true"
                              buttonLayout="horizontal"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required
                              [min]="input.min || 1"
                              [max]="input.max || 10"
                              [step]="input.step || 1"
                              [minFractionDigits]="0" >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                          } @else if (input.type === 'datepicker') {
                            <p-datepicker
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'checklist') {
                            <p-checkbox
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [binary]="true"
                              [indeterminate]="true"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="input.value" />
                            <label for="intown" class="bold">{{input.label | translate}}?</label>
                          } @else if (input.type === 'selector') {
                            <p-select
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              class="w-full md:w-56" />
                          } @else if (input.type === 'multiselector') {
                            <p-multiselect
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              tooltipPosition="right"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              optionLabel="label"
                              [showClear]="true"
                              class="w-full md:w-56" />
                          }
                        </div>
                      } @else if (input.displayCondition) {
                        <p-divider />
                      }
                    }
                  </div>
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button
                    [label]="`${'pages.project.science.nextButton' | translate}`"
                    [pTooltip]="'pages.project.science.nextButtonTooltip' | translate"
                    tooltipPosition="top"
                    severity="primary"
                    (click)="activateCallback(2)"/>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <h1>{{'pages.project.science.risksDigitalLabel' | translate}}</h1>
                  <p-divider />
                  <div class="form-container column">
                    @for (input of inputs.risksDigital; track input) {
                      @if (input.displayCondition && input.type !== 'line') {
                        <div class="flex flex-col gap-1">
                          @if (input.type !== 'checklist') {
                            <label for="name" class="bold">{{input.label | translate}}</label>
                          }
                          @if (input.type === 'text') {
                            <input
                              pInputText
                              type="text"
                              [id]="input.name"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'textarea') {
                            <textarea
                              pTextarea
                              type="text"
                              [id]="input.name"
                              class="mt-5"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              required>
                            </textarea>
                          } @else if (input.type === 'number') {
                            <p-inputnumber
                              [inputId]="input.name"
                              [showButtons]="true"
                              buttonLayout="horizontal"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required
                              [min]="input.min || 1"
                              [max]="input.max || 10"
                              [step]="input.step || 1"
                              [minFractionDigits]="0" >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                          } @else if (input.type === 'datepicker') {
                            <p-datepicker
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'checklist') {
                            <p-checkbox
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [binary]="true"
                              [indeterminate]="true"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="input.value" />
                            <label for="intown" class="bold">{{input.label | translate}}?</label>
                          } @else if (input.type === 'selector') {
                            <p-select
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              class="w-full md:w-56" />
                          } @else if (input.type === 'multiselector') {
                            <p-multiselect
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              tooltipPosition="right"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              optionLabel="label"
                              [showClear]="true"
                              class="w-full md:w-56" />
                          }
                        </div>
                      } @else if (input.displayCondition) {
                        <p-divider />
                      }
                    }
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button
                    [label]="`${'pages.project.science.backButton' | translate}`"
                    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
                    tooltipPosition="top"
                    severity="secondary"
                    (click)="activateCallback(1)"/>
                  <p-button
                    [label]="`${'pages.project.science.nextButton' | translate}`"
                    [pTooltip]="'pages.project.science.nextButtonTooltip' | translate"
                    tooltipPosition="top"
                    severity="primary"
                    (click)="activateCallback(3); refreshAllModel()"/>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <h1>{{'pages.project.science.risksClassicLabel' | translate}}</h1>
                  @for (inputGroup of inputs.risksClassic; track inputGroup) {
                    <h2 for="name" class="bold">{{inputGroup.name | translate}}</h2>
                    <p-divider />
                    @if (riskClassicGroupData[inputGroup.name]) {
                      <div class="table-container">
                        <p-table [value]="riskClassicGroupData[inputGroup.name].tableParams.td" [tableStyle]="{ 'min-width': '50rem' }">
                          <ng-template #header>
                              <tr>
                                @for (th of riskClassicGroupData[inputGroup.name].tableParams.th; track `th-id-${th}`) {
                                  <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                                }
                              </tr>
                          </ng-template>
                          <ng-template #body let-tds>
                              <tr>
                                @for (td of tds; track `td-id-${td}${$index}`) {
                                  @if ($index === 0) {
                                    <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                                  } @else if ($index !== 0 && tds[0] === riskClassicGroupData[inputGroup.name].tableParams.th[$index]) {
                                    <td [id]="`td-id-${td}`">-</td>
                                  } @else if ($index !== 0) {
                                    <td [style]="{ 'max-width': '50px'}" [id]="`td-id-${td}`">
                                      <p-inputnumber
                                        [inputId]="`td-id-${tds[0]}-${$index}-input`"
                                        [ngModel]="td"
                                        class="different"
                                        [inputStyle]="{ width: '50px', border: '0', 'box-shadow': 'none' }"
                                        (ngModelChange)="onTableChange($event, tds[0], $index, inputGroup.name)"
                                        [ngModelOptions]="{ standalone: true }"
                                        [step]="1"
                                        [minFractionDigits]="0" >
                                      </p-inputnumber>
                                    </td>
                                  }
                                }
                              </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    }
                    <div class="form-container column">
                      @for (input of inputGroup.inputs; track input) {
                        @if (input.displayCondition && input.type !== 'line') {
                          <div class="flex flex-col gap-1">
                            @if (input.type !== 'checklist') {
                              <label for="name" class="bold">{{input.label | translate}}</label>
                            }
                            @if (input.type === 'text') {
                              <input
                                pInputText
                                type="text"
                                [id]="input.name"
                                [placeholder]="input.placeholder | translate"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                [name]="input.name || 'name'"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                [ngModelOptions]="{ standalone: true }"
                                required />
                            } @else if (input.type === 'textarea') {
                              <textarea
                                pTextarea
                                type="text"
                                [id]="input.name"
                                class="mt-5"
                                [placeholder]="input.placeholder | translate"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                [name]="input.name || 'name'"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                required>
                              </textarea>
                            } @else if (input.type === 'number') {
                              <p-inputnumber
                                [inputId]="input.name"
                                [showButtons]="true"
                                buttonLayout="horizontal"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                [name]="input.name || 'name'"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                [ngModelOptions]="{ standalone: true }"
                                required
                                [min]="input.min || 1"
                                [max]="input.max || 10"
                                [step]="input.step || 1"
                                [minFractionDigits]="0" >
                                  <ng-template #incrementbuttonicon>
                                      <span class="pi pi-plus"></span>
                                  </ng-template>
                                  <ng-template #decrementbuttonicon>
                                      <span class="pi pi-minus"></span>
                                  </ng-template>
                              </p-inputnumber>
                            } @else if (input.type === 'datepicker') {
                              <p-datepicker
                                [inputId]="input.name"
                                [name]="input.name || 'name'"
                                [placeholder]="input.placeholder | translate"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                [ngModelOptions]="{ standalone: true }"
                                required />
                            } @else if (input.type === 'checklist') {
                              <p-checkbox
                                [inputId]="input.name"
                                [name]="input.name || 'name'"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                [binary]="true"
                                [indeterminate]="true"
                                [ngModelOptions]="{ standalone: true }"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"/>
                              <label for="intown" class="bold">{{input.label | translate}}?</label>
                            } @else if (input.type === 'selector') {
                              <p-select
                                [inputId]="input.name"
                                [name]="input.name || 'name'"
                                [options]="input.items"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                [ngModelOptions]="{ standalone: true }"
                                [placeholder]="input.placeholder | translate"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                class="w-full md:w-56" />
                            } @else if (input.type === 'multiselector') {
                              <p-multiselect
                                [inputId]="input.name"
                                [name]="input.name || 'name'"
                                [options]="input.items"
                                [ngModel]="input.value"
                                (ngModelChange)="onChange($event, inputGroup.name, $index)"
                                [ngModelOptions]="{ standalone: true }"
                                tooltipPosition="right"
                                [placeholder]="input.placeholder | translate"
                                [pTooltip]="input.pTooltip | translate"
                                tooltipPosition="right"
                                optionLabel="label"
                                [showClear]="true"
                                class="w-full md:w-56" />
                            }
                          </div>
                        } @else if (input.displayCondition) {
                          <p-divider />
                        }
                      }
                      @if (riskClassicGroupData[inputGroup.name]) {
                        <div class="container">
                          <p><span class="bold">{{'pages.project.science.mostConnectionAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.mostConnectionAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.mostConnectionAmount.value}}</p>
                          <p><span class="bold">{{'pages.project.science.lessConnectionAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.lessConnectionAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.lessConnectionAmount.value}}</p>
                          <p><span class="bold">{{'pages.project.science.mostNegativeConnectionAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.mostNegativeConnectionAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.mostNegativeConnectionAmount.value}}</p>
                          <p><span class="bold">{{'pages.project.science.mostPositiveConnectionAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.mostPositiveConnectionAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.mostPositiveConnectionAmount.value}}</p>
                          <p><span class="bold">{{'pages.project.science.mostInfluenceAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.mostInfluenceAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.mostInfluenceAmount.value}}</p>
                          <p><span class="bold">{{'pages.project.science.lessInfluenceAmount' | translate}}: </span>{{riskClassicGroupData[inputGroup.name].analyzeTable.lessInfluenceAmount.name}} -> {{riskClassicGroupData[inputGroup.name].analyzeTable.lessInfluenceAmount.value}}</p>
                        </div>
                        <div class="container flex">
                          <div class="flex line">
                            <div class="square blue"></div>
                            <p> + </p>
                          </div>
                          <div class="flex line">
                            <div class="square light"></div>
                            <p> - </p>
                          </div>
                        </div>
                      }
                      <div [id]="`model-container-${inputGroup.name}`" [class]="`container model-container-${inputGroup.name}`"></div>
                      <p-card>
                        <label for="name" class="bold">{{'pages.project.science.newInputNameLabel' | translate}}</label>
                        <div>
                          <input
                            pInputText
                            type="text"
                            id="newInputName"
                            [placeholder]="'pages.project.science.newInputNamePlaceholder' | translate"
                            [pTooltip]="'pages.project.science.newInputNameTooltip' | translate"
                            tooltipPosition="right"
                            name="newInputName"
                            [(ngModel)]="newInputName[$index]"
                            [ngModelOptions]="{ standalone: true }" />
                          <p-button
                            [label]="'pages.project.science.addNewInputButtonLabel' | translate"
                            [pTooltip]="'pages.project.science.addNewInputButtonTooltip' | translate"
                            [disabled]="!newInputName[$index]"
                            severity="success"
                            (click)="addNewInput(newInputName[$index], $index)" />
                        </div>
                      </p-card>
                    </div>
                  }
                  <p-card>
                    <label for="name" class="bold">{{'pages.project.science.newGroupNameLabel' | translate}}</label>
                    <div>
                      <input
                        pInputText
                        type="text"
                        id="newGroupName"
                        [placeholder]="'pages.project.science.newGroupNamePlaceholder' | translate"
                        [pTooltip]="'pages.project.science.newGroupNameTooltip' | translate"
                        tooltipPosition="right"
                        name="newGroupName"
                        [(ngModel)]="newGroupName"
                        [ngModelOptions]="{ standalone: true }" />
                      <p-button
                        [label]="'pages.project.science.addNewGroupButtonLabel' | translate"
                        [pTooltip]="'pages.project.science.addNewGroupButtonTooltip' | translate"
                        [disabled]="!newGroupName"
                        severity="success"
                        (click)="addNewGroup()" />
                    </div>
                  </p-card>
                  <div class="flex flex-col gap-1">
                    <label for="name" class="bold">{{'pages.project.science.recommendationDescriptionLabel' | translate}}</label>
                    <textarea
                      pTextarea
                      type="text"
                      id="recommendationDescription"
                      class="mt-5"
                      [placeholder]="'pages.project.science.recommendationDescriptionPlaceholder' | translate"
                      [pTooltip]="'pages.project.science.recommendationDescriptionTolltip' | translate"
                      tooltipPosition="top"
                      name="recommendationDescription"
                      [(ngModel)]="recommendationDescription"
                      required>
                    </textarea>
                  </div>
                  <p-button
                    [label]="'pages.project.science.updateExpertiseButtonLabel' | translate"
                    [pTooltip]="'pages.project.science.updateExpertiseButtonTooltip' | translate"
                    [disabled]="!form.valid"
                    severity="success"
                    (click)="updateExpertise(form)" />
                  <p-button
                    [label]="'pages.project.science.backButtonLabel' | translate"
                    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
                    [disabled]="!form.valid"
                    severity="secondary"
                    (click)="back()" />
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button
                    [label]="`${'pages.project.science.backButton' | translate}`"
                    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
                    tooltipPosition="top"
                    outlined="true"
                    severity="secondary"
                    (click)="activateCallback(2)"/>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </form>
  </div>

</section>

<app-footer></app-footer>
