<section class="expertises-analyze">
  <div class="container form-container">
    @for (expertise of expertises; track expertise) {
      <div class="container-card ">
        <p> <span class="bold">{{'pages.project.science.expertNameLabel' | translate}}:</span> {{expertise.expertName}}</p>
        <p> <span class="bold">{{'pages.project.science.emailLabel' | translate}}:</span> {{expertise.email}}</p>
        <p> <span class="bold">{{'pages.project.science.recommendationDescriptionLabel' | translate}}:</span> {{expertise.recommendationDescription}}</p>
        <p> <span class="bold">{{results[$index].risksLean.label | translate}}:</span> {{results[$index].risksLean.value}}</p>
        <p> <span class="bold">{{results[$index].risksDigital.label | translate}}:</span> {{results[$index].risksDigital.value}}</p>
        <p> <span class="bold">{{results[$index].risksClassic.label | translate}}:</span> {{results[$index].risksClassic.value}}</p>
      </div>
    } @empty {
      <h2 class="bold"> {{'pages.project.science.noExpertisesApprovedExist' | translate}} </h2>
    }
  </div>
</section>
