<p-dialog
  [header]="`${'pages.portfolio.dialog.infoDialogHeaderFirstPart' | translate} ${currentProject.name} ${'pages.portfolio.dialog.infoDialogHeaderLastPart' | translate}`"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="visibleOnChange()"
  [style]="{ width: '40rem' }">
  <div>
    <img alt="Card" class="w-full" [src]="currentProject.img" />
  </div>
  <div>
    <p> <span class="bold">{{'pages.portfolio.dialog.subinfoLabel' | translate}}:</span> {{currentProject.subinfo}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.priorityLabel' | translate}}:</span> {{currentProject.priority}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.scoreLabel' | translate}}:</span> {{currentProject.score}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.typeLabel' | translate}}:</span> {{currentProject.type}}</p>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.advantageLabel' | translate}}:</span> {{currentProject.budget - currentProject.profit}} {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.profitLabel' | translate}}:</span> {{currentProject.profit}} {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.budgetLabel' | translate}}:</span> {{currentProject.budget}} {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.budgetSourceLabel' | translate}}:</span> {{currentProject.budgetSource}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.processDurationLabel' | translate}}:</span> {{currentProject.processDuration}} {{'pages.portfolio.dialog.processDurationSuffix' | translate}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.trafficLabel' | translate}}:</span> {{currentProject.traffic}} {{'pages.portfolio.dialog.trafficSuffix' | translate}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.roadCodeLabel' | translate}}:</span> {{currentProject.road}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.distanceLabel' | translate}}:</span> {{currentProject.distance}} {{'pages.portfolio.dialog.distanceSuffix' | translate}}</p>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.mainRoadLabel' | translate}}:</span> {{currentProject.mainRoad ? `${'pages.portfolio.dialog.yes' | translate}` : `${'pages.portfolio.dialog.no' | translate}`}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.inTownLabel' | translate}}:</span> {{currentProject.inTown ? `${'pages.portfolio.dialog.yes' | translate}` : `${'pages.portfolio.dialog.no' | translate}`}}</p>
    @if (currentProject.inTown) {
      <p> <span class="bold">{{'pages.portfolio.dialog.townLabel' | translate}}:</span> {{currentProject.town}}</p>
    }
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.dateCreationLabel' | translate}}:</span> {{currentProject.dateCreation}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.dateInitializationLabel' | translate}}:</span> {{currentProject.dateInitialization}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.permissionDurationLabel' | translate}}:</span> {{currentProject.permissionDuration}} {{'pages.portfolio.dialog.processDurationSuffix' | translate}}</p>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.optionsLabel' | translate}}:</span></p>
    <p> {{'pages.portfolio.dialog.optionsEconomicLabel' | translate}}: {{currentProject.options.eco}} %</p>
    <p> {{'pages.portfolio.dialog.optionsWarLabel' | translate}}: {{currentProject.options.war}} %</p>
    <p> {{'pages.portfolio.dialog.optionsLogisticLabel' | translate}}: {{currentProject.options.log}} %</p>
    <p> {{'pages.portfolio.dialog.optionsSocialLabel' | translate}}: {{currentProject.options.soc}} %</p>
    <p> {{'pages.portfolio.dialog.optionsStructureLabel' | translate}}: {{currentProject.options.struc}} %</p>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.addressStartLabel' | translate}}:</span> {{currentProject.addressStart}}</p>
    <p> <span class="bold">{{'pages.portfolio.dialog.addressEndLabel' | translate}}:</span> {{currentProject.addressEnd}}</p>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.dialog.descriptionLabel' | translate}}:</span> {{currentProject.des}}</p>
  </div>
</p-dialog>
