<p-dialog
  [header]="`${'pages.project.stackholder.infoDialogStackholderHeader' | translate}`"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="visibleOnChange()"
  [style]="{ width: '40rem' }">
  <div>
    @for (valueKey of infoPageProjectValueKeys; track valueKey) {
      @if (!valueKey.type) {
        @if (currentStackholder[valueKey.propName] && currentStackholder[valueKey.propName][0] && currentStackholder[valueKey.propName][0].label) {
          <p> <span class="bold">{{valueKey.label | translate}}:</span>
            @for (item of currentStackholder[valueKey.propName]; track item) {
              @if ($index === currentStackholder[valueKey.propName].length - 1) {
                {{item.label}}
              } @else {
                {{item.label + ', '}}
              }
            }
          </p>
        } @else {
          <p> <span class="bold">{{valueKey.label | translate}}:</span> {{currentStackholder[valueKey.propName]}}
            @if (!valueKey.type) {
              {{valueKey.suffix | translate}}
            }
          </p>
        }
      } @else if (valueKey.type === 'divider') {
        <p-divider />
      } @else if (valueKey.type === 'date') {
        <p> <span class="bold">{{valueKey.label | translate}}:</span> {{currentStackholder[valueKey.propName] | date: 'dd/MM/yyyy'}}</p>
      } @else if (valueKey.type === 'multyInOne') {
        <p> <span class="bold">{{valueKey.label | translate}}:</span>
          @for (item of valueKey.items; track item) {
            {{currentStackholder[item.propName] + ' '}}
          }
        </p>
      } @else if (valueKey.type === 'permission') {
        @if (currentStackholder[valueKey.propPermission]) {
          @if (valueKey.items && valueKey.items[0] && valueKey.items[0].type === 'deepInside') {
            @for (item of valueKey.items; track item) {
              <p> <span class="bold">{{item.label | translate}}:</span> {{currentStackholder[item.propNames[0]][item.propNames[1]]}} </p>
            }
          } @else {
            <p> <span class="bold">{{valueKey.label | translate}}:</span> {{currentStackholder[valueKey.propName]}}
              @if (!valueKey.type) {
                {{valueKey.suffix | translate}}
              }
            </p>
          }
        }
      }
    }
  </div>
</p-dialog>
