<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="visibleOnChange()"
  [style]="{ width: '40rem', 'max-height': '700px' }">
  <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
    <div class="form-container row">
      <div class="form-container column">
        @for (input of inputs[currentMode]; track input) {
          @if (input.displayCondition && input.type !== 'line') {
            <div class="flex flex-col gap-1">
              @if (input.type !== 'checklist') {
                <label for="name" class="bold">{{input.label | translate}}
                  @if (input.suffix) {
                    {{input.suffix | translate}}
                  }
                </label>
              }
              @if (input.type === 'text') {
                <input
                  pInputText
                  type="text"
                  [id]="input.name"
                  [placeholder]="input.placeholder | translate"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  [name]="input.name || 'name'"
                  [(ngModel)]="input.value"
                  [ngModelOptions]="{ standalone: true }"
                  required />
              } @else if (input.type === 'textarea') {
                <textarea
                  pTextarea
                  type="text"
                  [id]="input.name"
                  class="mt-5"
                  [placeholder]="input.placeholder | translate"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  [name]="input.name || 'name'"
                  [(ngModel)]="input.value"
                  required>
                </textarea>
              } @else if (input.type === 'number') {
                <p-inputnumber
                  [inputId]="input.name"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  [name]="input.name || 'name'"
                  [(ngModel)]="input.value"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  [min]="input.min || 1"
                  [max]="input.max || 10"
                  [step]="input.step || 1"
                  [minFractionDigits]="0" >
                    <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                    </ng-template>
                </p-inputnumber>
              } @else if (input.type === 'datepicker') {
                <p-datepicker
                  [inputId]="input.name"
                  [name]="input.name || 'name'"
                  [placeholder]="input.placeholder | translate"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  [(ngModel)]="input.value"
                  [ngModelOptions]="{ standalone: true }"
                  required />
              } @else if (input.type === 'checklist') {
                <p-checkbox
                  [inputId]="input.name"
                  [name]="input.name || 'name'"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  [binary]="true"
                  [indeterminate]="true"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="input.value" />
                <label for="intown" class="bold">{{input.label | translate}}?</label>
              } @else if (input.type === 'selector') {
                <p-select
                  [inputId]="input.name"
                  [name]="input.name || 'name'"
                  [options]="input.items"
                  [(ngModel)]="input.value"
                  [ngModelOptions]="{ standalone: true }"
                  [placeholder]="input.placeholder | translate"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  class="w-full md:w-56"
                  required />
              } @else if (input.type === 'multiselector') {
                <p-multiselect
                  [inputId]="input.name"
                  [name]="input.name || 'name'"
                  [options]="input.items"
                  [(ngModel)]="input.value"
                  [ngModelOptions]="{ standalone: true }"
                  tooltipPosition="right"
                  [placeholder]="input.placeholder | translate"
                  [pTooltip]="input.pTooltip | translate"
                  tooltipPosition="right"
                  optionLabel="label"
                  [showClear]="true"
                  class="w-full md:w-56"
                  required />
              }
            </div>
          } @else if (input.displayCondition) {
            <p-divider />
          }
        }
      </div>
      <div>
        <p-button
          [label]="'pages.portfolio.dialog.saveButton' | translate"
          [pTooltip]="'pages.portfolio.dialog.saveButtonTooltip' | translate"
          [outlined]="true"
          severity="primary"
          [disabled]="form.touched && form.invalid"
          (click)="this.data && this.data._id ? update(form): create(form)" />
        <p-button
          label="Cancel"
          [label]="'pages.portfolio.dialog.cancelButton' | translate"
          [pTooltip]="'pages.portfolio.dialog.cancelButtonTooltip' | translate"
          [text]="true"
          severity="danger"
          (click)="cancel(form)" />
      </div>
    </div>
  </form>
</p-dialog>
