<app-header></app-header>
<section class="ko">
  <p-button
    [label]="'pages.project.science.backButtonFullLabel' | translate"
    [pTooltip]="'pages.project.science.backButtonFullTooltip' | translate"
    severity="secondary"
    (click)="back()" />
  <div class="container form-container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div>
        <p-stepper [value]="1" class="basis-[50rem]">
          <p-step-list>
            <p-step [value]="1">Когнітивне налаштування</p-step>
            <p-step [value]="2">Оцінка</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  @if (riskData.tableParams) {
                    <div class="table-container">
                      <p-table [value]="riskData.tableParams.td" [scrollable]="true" scrollHeight="400px" scrollWidth="400px"  [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
                        <ng-template #header>
                            <tr>
                              @for (th of riskData.tableParams.th; track `th-id-${th}`) {
                                <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                              }
                            </tr>
                        </ng-template>
                        <ng-template #body let-tds>
                            <tr>
                              @for (td of tds; track `td-id-${td}${$index}`) {
                                @if ($index === 0) {
                                  <td [id]="`td-id-${td}`">{{ td }}</td>
                                } @else {
                                  <td [style]="{ 'max-width': '30px'}" [id]="`td-id-${td}`">
                                    <p-inputnumber
                                      [inputId]="`td-id-${tds[0]}-${$index}-input`"
                                      [ngModel]="td"
                                      class="different"
                                      [inputStyle]="{ width: '30px', border: '0', 'box-shadow': 'none' }"
                                      (ngModelChange)="onTableChange($event, tds[0], $index)"
                                      [ngModelOptions]="{ standalone: true }"
                                      [step]="1"
                                      [minFractionDigits]="0" >
                                    </p-inputnumber>
                                  </td>
                                }
                              }
                            </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  }
                  @if (riskData.analyzeTable && riskData.analyzeTable.mostConnectionAmount.name !== '-') {
                    <div class="container-analyze">
                      <p><span class="bold">{{'pages.project.science.mostConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostConnectionAmount.name | translate}} -> {{riskData.analyzeTable.mostConnectionAmount.value}}</p>
                      <p><span class="bold">{{'pages.project.science.lessConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.lessConnectionAmount.name | translate}} -> {{riskData.analyzeTable.lessConnectionAmount.value}}</p>
                      <p><span class="bold">{{'pages.project.science.mostNegativeConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostNegativeConnectionAmount.name | translate}} -> {{riskData.analyzeTable.mostNegativeConnectionAmount.value}}</p>
                      <p><span class="bold">{{'pages.project.science.mostPositiveConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostPositiveConnectionAmount.name | translate}} -> {{riskData.analyzeTable.mostPositiveConnectionAmount.value}}</p>
                      <p><span class="bold">{{'pages.project.science.mostInfluenceAmount' | translate}}: </span>{{riskData.analyzeTable.mostInfluenceAmount.name | translate}} -> {{riskData.analyzeTable.mostInfluenceAmount.value}}</p>
                      <p><span class="bold">{{'pages.project.science.lessInfluenceAmount' | translate}}: </span>{{riskData.analyzeTable.lessInfluenceAmount.name | translate}} -> {{riskData.analyzeTable.lessInfluenceAmount.value}}</p>
                      <p><span class="bold">DjGeoMin: </span>{{riskData.analyzeTable.DjGeoMin}}</p>
                      <p><span class="bold">DjGeoMout: </span>{{riskData.analyzeTable.DjGeoMout}}</p>
                      <p><span class="bold">DjGeoMinout: </span>{{riskData.analyzeTable.DjGeoMinout}}</p>
                      <p><span class="bold">Щільність НКК: </span>{{riskData.analyzeTable.density}}</p>
                      <p><span class="bold">Складність НКК: </span>{{riskData.analyzeTable.complexity}}</p>
                      <p><span class="bold">Індекс ієрархічності НКК: </span>{{riskData.analyzeTable.hierarchy}}</p>
                      @if (riskData.additionalTableParams) {
                        <div class="table-container">
                          <p-table [value]="riskData.additionalTableParams.td" [scrollable]="true" scrollHeight="400px" scrollWidth="400px"  [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
                            <ng-template #header>
                                <tr>
                                  @for (th of riskData.additionalTableParams.th; track `th-id-${th}`) {
                                    <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                                  }
                                </tr>
                            </ng-template>
                            <ng-template #body let-tds>
                                <tr>
                                  @for (td of tds; track `td-id-${td}${$index}`) {
                                    <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                                  }
                                </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      }
                    </div>
                  }
                  @if (riskData.graph && riskData.graph.data ) {
                    <div class="container flex">
                      <div class="flex line">
                        <div class="square blue"></div>
                        <p> + </p>
                      </div>
                      <div class="flex line">
                        <div class="square light"></div>
                        <p> - </p>
                      </div>
                    </div>
                  }
                  <div
                    [id]="`model-container-KO`"
                    [class]="
                      riskData.graph.data ?
                      `container model-container-KO` :
                      `model-container-KO`"></div>
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button
                    [label]="'pages.project.science.updateExpertiseButtonLabel' | translate"
                    [pTooltip]="'pages.project.science.updateExpertiseButtonTooltip' | translate"
                    [disabled]="!form.valid"
                    severity="success"
                    (click)="updateExpertise(form)" />
                  <p-button
                    [label]="`${'pages.project.science.nextButton' | translate}`"
                    [pTooltip]="'pages.project.science.nextButtonTooltip' | translate"
                    tooltipPosition="top"
                    severity="primary"
                    (click)="activateCallback(2)"/>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <h1>Фактори ризику</h1>
                  <p-divider />
                  <div class="form-container column">
                    @for (input of inputs; track input) {
                      @if (input.displayCondition && input.type !== 'line') {
                        <div class="flex flex-col gap-1">
                          @if (input.type !== 'checklist') {
                            <label for="name" class="bold">{{input.label | translate}}</label>
                          }
                          @if (input.type === 'text') {
                            <input
                              pInputText
                              type="text"
                              [id]="input.name"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'textarea') {
                            <textarea
                              pTextarea
                              type="text"
                              [id]="input.name"
                              class="mt-5"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [(ngModel)]="input.value"
                              required>
                            </textarea>
                          } @else if (input.type === 'number') {
                            <p-inputnumber
                              [inputId]="input.name"
                              [showButtons]="true"
                              buttonLayout="horizontal"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [name]="input.name || 'name'"
                              [ngModel]="input.value"
                              (ngModelChange)="onChange($event, $index)"
                              [ngModelOptions]="{ standalone: true }"
                              required
                              [min]="input.min || 1"
                              [max]="input.max || 10"
                              [step]="input.step || 1"
                              [minFractionDigits]="0" >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                          } @else if (input.type === 'datepicker') {
                            <p-datepicker
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              required />
                          } @else if (input.type === 'checklist') {
                            <p-checkbox
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              [binary]="true"
                              [indeterminate]="true"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="input.value" />
                            <label for="intown" class="bold">{{input.label | translate}}?</label>
                          } @else if (input.type === 'selector') {
                            <p-select
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              class="w-full md:w-56" />
                          } @else if (input.type === 'multiselector') {
                            <p-multiselect
                              [inputId]="input.name"
                              [name]="input.name || 'name'"
                              [options]="input.items"
                              [(ngModel)]="input.value"
                              [ngModelOptions]="{ standalone: true }"
                              tooltipPosition="right"
                              [placeholder]="input.placeholder | translate"
                              [pTooltip]="input.pTooltip | translate"
                              tooltipPosition="right"
                              optionLabel="label"
                              [showClear]="true"
                              class="w-full md:w-56" />
                          }
                        </div>
                      } @else if (input.displayCondition) {
                        <p-divider />
                      }
                    }
                  </div>
                </div>
                <div>
                  <p>Фінальна КО оцінка: {{currentExpertise.approve.grade}}</p>
                  <div class="flex flex-col gap-1">
                    <label for="name" class="bold">{{'pages.project.science.recommendationDescriptionLabel' | translate}}</label>
                    <textarea
                      pTextarea
                      type="text"
                      id="recommendationDescription"
                      class="mt-5"
                      [placeholder]="'pages.project.science.recommendationDescriptionPlaceholder' | translate"
                      [pTooltip]="'pages.project.science.recommendationDescriptionTolltip' | translate"
                      tooltipPosition="top"
                      name="recommendationDescription"
                      [(ngModel)]="recommendationDescription"
                      required>
                    </textarea>
                  </div>
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button
                    [label]="'pages.project.science.updateExpertiseButtonLabel' | translate"
                    [pTooltip]="'pages.project.science.updateExpertiseButtonTooltip' | translate"
                    [disabled]="!form.valid"
                    severity="success"
                    (click)="updateExpertise(form)" />
                  <p-button
                    [label]="`${'pages.project.science.backButton' | translate}`"
                    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
                    tooltipPosition="top"
                    outlined="true"
                    severity="secondary"
                    (click)="activateCallback(1)"/>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </form>
  </div>

</section>

<app-footer></app-footer>
