<app-header></app-header>
<section class="cld">
  <p-button
    [label]="'pages.project.science.backButtonFullLabel' | translate"
    [pTooltip]="'pages.project.science.backButtonFullTooltip' | translate"
    severity="secondary"
    (click)="back()" />
  <div class="container form-container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="flex flex-col h-48">
        <h1>Фактори ризику та вплив</h1>
        <p-divider />
        <div class="form-container column">
          @for (input of inputs; track input; let i = $index) {
            @if (input.displayCondition && input.type !== 'line') {
              <div class="flex flex-col mb-10">
                @if (input.type !== 'checklist') {
                  <label for="name" class="bold">{{input.label | translate}}</label>
                }
                @if (input.type === 'text') {
                  <input
                    pInputText
                    type="text"
                    [id]="input.name"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    required />
                } @else if (input.type === 'textarea') {
                  <textarea
                    pTextarea
                    type="text"
                    [id]="input.name"
                    class="mt-5"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    required>
                  </textarea>
                } @else if (input.type === 'number') {
                  <p-inputnumber
                    [inputId]="input.name"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    required
                    [min]="input.min || 1"
                    [max]="input.max || 10"
                    [step]="input.step || 1"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                } @else if (input.type === 'radio-options') {
                  @for (item of input.items; track item) {
                    <div class="flex column">
                      <label for="name">{{item.label}}: </label>
                      <div class="flex">
                        @for (option of item.options; track option) {
                          <div class="flex items-center mr-10">
                            <p-radiobutton [name]="`${item.label}-${i}`" [value]="option" [(ngModel)]="item.value" [inputId]="`${item.label}-${i}`" />
                            <label [for]="`${item.label}-${i}`" class="ml-2">{{option}}</label>
                          </div>
                        }
                      </div>
                    </div>
                  }
                } @else if (input.type === 'rating') {
                  <div class="card flex justify-center">
                    <p-rating [(ngModel)]="input.value" [ngModelOptions]="{ standalone: true }" [stars]="10" >
                      <ng-template #onicon>
                        <div class="option-selected"></div>
                      </ng-template>
                      <ng-template #officon>
                        <div class="option-unselected"></div>
                      </ng-template>
                    </p-rating>
                  </div>
                }  @else if (input.type === 'datepicker') {
                  <p-datepicker
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    required />
                } @else if (input.type === 'checklist') {
                  <p-checkbox
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [binary]="true"
                    [indeterminate]="true"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="input.value" />
                  <label for="intown" class="bold">{{input.label | translate}}?</label>
                } @else if (input.type === 'selector') {
                  <p-select
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [options]="input.items"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    class="w-full md:w-56" />
                } @else if (input.type === 'multiselector') {
                  <p-multiselect
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [options]="input.items"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    tooltipPosition="right"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    optionLabel="label"
                    [showClear]="true"
                    class="w-full md:w-56" />
                }
              </div>
            } @else if (input.displayCondition) {
              <p-divider />
            }
          }
        </div>
      </div>
      <div class="flex pt-6 justify-end">
        <p-button
          [label]="'pages.project.science.updateExpertiseButtonLabel' | translate"
          [pTooltip]="'pages.project.science.updateExpertiseButtonTooltip' | translate"
          severity="primary"
          (click)="updateExpertise()" />
      </div>
      @if (tableParams) {
        <div class="table-container">
          <p-table [value]="tableParams.td" [scrollable]="true" scrollHeight="400px" stripedRows [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
            <ng-template #header>
                <tr>
                  @for (th of tableParams.th; track `th-id-${th}`) {
                    <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                  }
                </tr>
            </ng-template>
            <ng-template #body let-tds>
                <tr>
                  @for (td of tds; track `td-id-${td}${$index}`) {
                    <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                  }
                </tr>
            </ng-template>
          </p-table>
        </div>
      }
      <div>
        <div class="flex flex-col gap-1">
          <label for="name" class="bold">{{'pages.project.science.recommendationDescriptionLabel' | translate}}</label>
          <textarea
            pTextarea
            type="text"
            id="recommendationDescription"
            class="mt-5"
            [placeholder]="'pages.project.science.recommendationDescriptionPlaceholder' | translate"
            [pTooltip]="'pages.project.science.recommendationDescriptionTolltip' | translate"
            tooltipPosition="top"
            name="recommendationDescription"
            [(ngModel)]="recommendationDescription"
            required>
          </textarea>
        </div>
      </div>
      <div class="flex pt-6 justify-end">
        <p-button
          [label]="'pages.project.science.updateExpertiseButtonLabel' | translate"
          [pTooltip]="'pages.project.science.updateExpertiseButtonTooltip' | translate"
          severity="primary"
          (click)="updateExpertise()" />
      </div>
    </form>
  </div>

</section>

<app-footer></app-footer>
