<app-header></app-header>
<main class="confirmation">
  <div class="image-preview">
    <img [src]="data.img" alt="portfolio_art">
  </div>
  <div>
    <h1>{{'pages.portfolio.confirmation.title' | translate}}: {{ data.name }}</h1>
    <p-divider />
    <p><span class="bold">{{'pages.portfolio.confirmation.projects' | translate}}</span>: {{ data.projects }}</p>
    <h2>{{'pages.portfolio.creation.thirdTierIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierI; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierI', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <h2>{{'pages.portfolio.creation.thirdTierIIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierII; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierII', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <h2>{{'pages.portfolio.creation.thirdTierIIIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierIII; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierIII', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <p-divider />
    <p><span class="bold">{{'pages.portfolio.confirmation.budget' | translate}}: </span>{{ data.budget }} USD</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.profit' | translate}}: </span>{{ data.profit }} USD</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.advantage' | translate}}: </span>{{ data.profit - data.budget }} USD</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.duration' | translate}}: </span>{{ data.duration }} {{'pages.portfolio.confirmation.durationSuffix' | translate}}</p>
    @if (data.location === "INSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationInside' | translate}}</p>
    } @else if (data.location === "OUTSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationOutside' | translate}}</p>
    } @else {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationComplex' | translate}}</p>
    }
    @if (data.location !== "OUTSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.town' | translate}}: </span>{{ data.town }}</p>
    }
    <p-divider />
    <h2><span class="bold">{{'pages.portfolio.confirmation.options' | translate}}</span></h2>
    <p><span class="bold">{{'pages.portfolio.confirmation.eco' | translate}}: </span>{{ data.options.eco }}%</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.war' | translate}}: </span>{{ data.options.war }}%</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.log' | translate}}: </span>{{ data.options.log }}%</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.soc' | translate}}: </span>{{ data.options.soc }}%</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.struc' | translate}}: </span>{{ data.options.struc }}%</p>
    <p-divider />
    <p>{{ data.des }}</p>
  </div>
  <div class="buttons">
    <p-button
      [label]="'pages.portfolio.confirmation.buttonCreatePortfolio' | translate"
      [pTooltip]="'pages.portfolio.confirmation.createPortfolioTolltip' | translate"
      tooltipPosition="bottom"
      class="mr-10"
      severity="secondary"
      type="button"
      (click)="navigate('cportfolio')" />
    <p-button
      [label]="'pages.portfolio.confirmation.confirmationButton' | translate"
      [pTooltip]="'pages.portfolio.confirmation.confirmationTolltip' | translate"
      tooltipPosition="bottom"
      class="ml-10"
      severity="success"
      type="button"
      (click)="createPorfolio()" />
  </div>
</main>
<app-footer></app-footer>

<app-info-dialog [visible]="visible.info" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>

