<app-header></app-header>
<main class="confirmation">
  <div>
    <img [src]="data.img" alt="portfolio_art">
  </div>
  <div>
    <h1>{{"'pages.portfolio.confirmation.title' | translate"}}: {{ data.name }}</h1>
  </div>
  <div>
    <h2>{{"'pages.portfolio.confirmation.projects' | translate"}}: {{ data.projects }}</h2>
    <h2>{{"'pages.portfolio.confirmation.budget' | translate"}}: {{ data.budget }}</h2>
    <h2>{{"'pages.portfolio.confirmation.duration' | translate"}}: {{ data.duration }}</h2>
    <h2>{{"'pages.portfolio.confirmation.workAmount' | translate"}}: {{ data.workAmount }}</h2>
    <h2>{{"'pages.portfolio.confirmation.townOnly' | translate"}}: {{ data.townOnly }}</h2>
    @if (data.townOnly) {
      <h2>{{"'pages.portfolio.confirmation.town' | translate"}}: {{ data.town }}</h2>
    }
  </div>
  <div>
    <h2>{{"'pages.portfolio.confirmation.options' | translate"}}</h2>
    <h3>{{"'pages.portfolio.confirmation.eco' | translate"}}: {{ data.options.eco }}</h3>
    <h3>{{"'pages.portfolio.confirmation.war' | translate"}}: {{ data.options.war }}</h3>
    <h3>{{"'pages.portfolio.confirmation.log' | translate"}}: {{ data.options.log }}</h3>
    <h3>{{"'pages.portfolio.confirmation.soc' | translate"}}: {{ data.options.soc }}</h3>
    <h3>{{"'pages.portfolio.confirmation.struc' | translate"}}: {{ data.options.struc }}</h3>
  </div>
  <div>
    <p>{{ data.des }}</p>
  </div>
  <div class="buttons">
    <p-button
      [label]="'pages.portfolio.confirmation.buttonCreatePortfolio' | translate"
      [pTooltip]="'pages.portfolio.confirmation.createPortfolioTolltip' | translate"
      tooltipPosition="bottom"
      severity="secondary"
      type="button"
      (click)="navigate('create')" />
    <p-button
      [label]="'pages.portfolio.confirmation.confirmationButton' | translate"
      [pTooltip]="'pages.portfolio.confirmation.confirmationTolltip' | translate"
      tooltipPosition="bottom"
      severity="success"
      type="button"
      (click)="createPorfolio()" />
  </div>
</main>
<app-footer></app-footer>
