@if (showSpinner) {
  <div class="spinner">
    <p-progress-spinner ariaLabel="loading" />
  </div>
}
<!-- <div class="selector-lang">
  <p-select
  [options]="languages"
  (onChange)="changeLanguage()"
  [(ngModel)]="selectedLanguage"
  placeholder="Select a Language"
  class="w-full md:w-56" />
</div> -->
<main class="login">
  <p-card
    [header]="'pages.user.login.header' | translate"
    [style]="{
      'min-width': '390px',
      'border-top': '25px solid #b91c1c',
      'border-bottom': '25px solid #b91c1c',
      'border-radius': '10px'
    }">
    <ng-template #header>
      <div class="logo-container space-around">
        <img class="logo-main" src="/logo.png" alt="">
      </div>
    </ng-template>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="email"
          id="email"
          name="email"
          [placeholder]="'pages.user.login.emailPlaceholder' | translate"
          [pTooltip]="'pages.user.login.emailTolltip' | translate"
          tooltipPosition="right"
          [(ngModel)]="user.email"
          [ngModelOptions]="{standalone: true}"
          #email="ngModel"
          required
          email
          [invalid]="email.invalid && (email.touched || form.submitted)" />
        @if (email.invalid && (email.touched || form.submitted)) {
          <p-message severity="error" size="small" variant="simple">
            @if (email.hasError('required')) {
              {{'pages.user.login.emailRequired' | translate}}
            }
            @if (email.hasError('email')) {
              {{'pages.user.login.emailHasError' | translate}}
            }
          </p-message>
        }
      </div>
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="password"
          id="password"
          name="password"
          [placeholder]="'pages.user.login.passwordPlaceholder' | translate"
          [pTooltip]="'pages.user.login.passwordTolltip'  | translate"
          tooltipPosition="right"
          [(ngModel)]="user.password"
          [ngModelOptions]="{standalone: true}"
          #password="ngModel"
          required
          password
          [invalid]="password.invalid && (password.touched || form.submitted)" />
        @if (password.invalid && (password.touched || form.submitted)) {
          <p-message severity="error" size="small" variant="simple">
            @if (password.hasError('required')) {
              {{'pages.user.login.passwordRequired' | translate}}
            }
            @if (password.hasError('password')) {
              {{'pages.user.login.passwordHasError' | translate}}
            }
          </p-message>
        }
      </div>
      <p-button
        [label]="'pages.user.login.forget' | translate"
        [pTooltip]="'pages.user.login.forgetTolltip'  | translate"
        tooltipPosition="right"
        [link]="true"
        (click)="navigate('forget')"
        [style]="{ 'padding-left': '0' }"/>
      <div class="space-between">
        @if (form.valid) {
          <p-button
            [label]="'pages.user.login.buttonSubmit' | translate"
            [pTooltip]="'pages.user.login.submitTolltip'  | translate"
            tooltipPosition="bottom"
            severity="primary"
            type="submit" />
        } @else {
          <p-button
            [label]="'pages.user.login.buttonSubmit' | translate"
            [pTooltip]="'pages.user.login.submitDisabledTolltip'  | translate"
            tooltipPosition="bottom"
            disabled
            severity="secondary"
            type="submit" />
        }
        <p-button
          label="Реєстрація"
          [pTooltip]="'pages.user.login.registrationTolltip'  | translate"
          tooltipPosition="bottom"
          severity="primary"
          type="button"
          (click)="navigate('registration-owner')" />
        @if (error) {
          <p-message severity="error" size="small" variant="simple">
            @if (password.hasError('required')) {
              {{'pages.user.login.loginError' | translate}}
            }
          </p-message>
        }
      </div>
    </form>
  </p-card>
</main>
