<app-header></app-header>
<section class="info-expertise-dialog">
  <p-button
    [label]="'pages.project.science.backButton' | translate"
    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
    severity="primary"
    (click)="back()" />
  <p>
    <span class="bold">Узгодженість</span>:
    <span class="bold" [style]="{ 'color': current.approve.consistency > 0.5 ? 'darkcyan' : 'firebrick' }"> {{current.approve.consistency > 0.5 ? 'Достатньо' : 'Недостатньо'}} ({{current.approve.consistency}})</span>
  </p>
  @if (current.type === 'CLD') {
    <p-divider />
    @for (riskData of risksData; track riskData; let i = $index) {
      <div class="table-container">
        <p-table [value]="riskData.tableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
          <ng-template #header>
              <tr>
                @for (th of riskData.tableParams.th; track `th-id-${th}`) {
                  <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                }
              </tr>
          </ng-template>
          <ng-template #body let-tds>
              <tr>
                @for (td of tds; track `td-id-${td}${$index}`) {
                  @if ($index !== 0 && tds[0] === riskData.tableParams.th[$index]) {
                    <td [id]="`td-id-${td}`">-</td>
                  } @else {
                    <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                  }
                }
              </tr>
          </ng-template>
        </p-table>
      </div>
      <p> <span class="bold">Рекомендація експерта:</span> {{riskData.recommendationDescription}}</p>
    }
  } @else {
    <p> <span class="bold">Фінальна оцінка КО:</span> {{current.approve.grade}}</p>
    @for (riskData of risksData; track riskData; let i = $index) {
      <p-divider />
      <h3> <span class="bold">Дані експертизи від експерта:</span> {{riskData.expert}}</h3>
      <div>
        @for (field of riskData.fields; track field) {
          <p> <span class="bold">{{field.label | translate}}:</span> {{field.value}}</p>
        }

      </div>
      <div class="table-container">
        <p-table [value]="riskData.tableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
          <ng-template #header>
              <tr>
                @for (th of riskData.tableParams.th; track `th-id-${th}`) {
                  <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                }
              </tr>
          </ng-template>
          <ng-template #body let-tds>
              <tr>
                @for (td of tds; track `td-id-${td}${$index}`) {
                  @if ($index !== 0 && tds[0] === riskData.tableParams.th[$index]) {
                    <td [id]="`td-id-${td}`">-</td>
                  } @else {
                    <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                  }
                }
              </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="container-analyze">
        <p><span class="bold">{{'pages.project.science.mostConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostConnectionAmount.name}} -> {{riskData.analyzeTable.mostConnectionAmount.value}}</p>
        <p><span class="bold">{{'pages.project.science.lessConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.lessConnectionAmount.name}} -> {{riskData.analyzeTable.lessConnectionAmount.value}}</p>
        <p><span class="bold">{{'pages.project.science.mostNegativeConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostNegativeConnectionAmount.name}} -> {{riskData.analyzeTable.mostNegativeConnectionAmount.value}}</p>
        <p><span class="bold">{{'pages.project.science.mostPositiveConnectionAmount' | translate}}: </span>{{riskData.analyzeTable.mostPositiveConnectionAmount.name}} -> {{riskData.analyzeTable.mostPositiveConnectionAmount.value}}</p>
        <p><span class="bold">{{'pages.project.science.mostInfluenceAmount' | translate}}: </span>{{riskData.analyzeTable.mostInfluenceAmount.name}} -> {{riskData.analyzeTable.mostInfluenceAmount.value}}</p>
        <p><span class="bold">{{'pages.project.science.lessInfluenceAmount' | translate}}: </span>{{riskData.analyzeTable.lessInfluenceAmount.name}} -> {{riskData.analyzeTable.lessInfluenceAmount.value}}</p>
        @if (riskData.additionalTableParams) {
          <div class="table-container">
            <p-table [value]="riskData.additionalTableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
              <ng-template #header>
                  <tr>
                    @for (th of riskData.additionalTableParams.th; track `th-id-${th}`) {
                      <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                    }
                  </tr>
              </ng-template>
              <ng-template #body let-tds>
                  <tr>
                    @for (td of tds; track `td-id-${td}${$index}`) {
                      @if ($index !== 0 && tds[0] === riskData.additionalTableParams.th[$index]) {
                        <td [id]="`td-id-${td}`">-</td>
                      } @else {
                        <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                      }
                    }
                  </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </div>
      <div class="container flex">
        <div class="flex line">
          <div class="square blue"></div>
          <p> + </p>
        </div>
        <div class="flex line">
          <div class="square light"></div>
          <p> - </p>
        </div>
      </div>
      <div [id]="`model-container-KO-${$index}`" [class]="`container model-container-KO-${$index}`"></div>
      <p> <span class="bold">Рекомендація експерта:</span> {{riskData.recommendationDescription}}</p>
    }
  }
</section>

<app-footer></app-footer>
