<app-header></app-header>
<section class="info-expertise-dialog">
  <p-button
    [label]="'pages.project.science.backButton' | translate"
    [pTooltip]="'pages.project.science.backButtonTooltip' | translate"
    severity="secondary"
    (click)="back()" />
  <div>
    @for (valueKey of infoPageProjectValueKeys; track valueKey) {
      @if (!valueKey.type) {
        @if (current[valueKey.propName] && current[valueKey.propName][0] && current[valueKey.propName][0].label) {
          <p> <span class="bold">{{valueKey.label | translate}}:</span>
            @for (item of current[valueKey.propName]; track item) {
              @if ($index === current[valueKey.propName].length - 1) {
                {{item.label}}
              } @else {
                {{item.label + ', '}}
              }
            }
          </p>
        } @else {
          @if (valueKey.mainProp) {
            <p> <span class="bold">{{valueKey.label | translate}}:</span> {{current[valueKey.mainProp][valueKey.propName]}} %
              @if (!valueKey.type) {
                {{valueKey.suffix | translate}}
              }
            </p>
          } @else {
            <p> <span class="bold">{{valueKey.label | translate}}:</span> {{current[valueKey.propName]}}</p>
          }
        }
      } @else if (valueKey.type === 'divider') {
        <p-divider />
      } @else if (valueKey.type === 'risksClassic') {
        <p> <span class="bold">{{valueKey.label | translate}}: </span></p>
        @if (valueKey.items.length) {
          @for (item of valueKey.items; track item) {
            <p> {{item.label | translate}}: {{current.risksClassic[valueKey.label][item.propName]}} %</p>
          }
        }
        @if (riskClassicGroupData[valueKey.label]) {
          <div class="table-container">
            <p-table [value]="riskClassicGroupData[valueKey.label].tableParams.td" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template #header>
                  <tr>
                    @for (th of riskClassicGroupData[valueKey.label].tableParams.th; track `th-id-${th}`) {
                      <th [id]="`th-id-${th}`">{{ th | translate }}</th>
                    }
                  </tr>
              </ng-template>
              <ng-template #body let-tds>
                  <tr>
                    @for (td of tds; track `td-id-${td}${$index}`) {
                      @if ($index !== 0 && tds[0] === riskClassicGroupData[valueKey.label].tableParams.th[$index]) {
                        <td [id]="`td-id-${td}`">-</td>
                      } @else {
                        <td [id]="`td-id-${td}`">{{ td  | translate }}</td>
                      }
                    }
                  </tr>
              </ng-template>
            </p-table>
          </div>
          <!-- <div class="container">
            <p><span class="bold">{{'pages.project.science.mostConnectionAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.mostConnectionAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.mostConnectionAmount.value}}</p>
            <p><span class="bold">{{'pages.project.science.lessConnectionAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.lessConnectionAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.lessConnectionAmount.value}}</p>
            <p><span class="bold">{{'pages.project.science.mostNegativeConnectionAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.mostNegativeConnectionAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.mostNegativeConnectionAmount.value}}</p>
            <p><span class="bold">{{'pages.project.science.mostPositiveConnectionAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.mostPositiveConnectionAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.mostPositiveConnectionAmount.value}}</p>
            <p><span class="bold">{{'pages.project.science.mostInfluenceAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.mostInfluenceAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.mostInfluenceAmount.value}}</p>
            <p><span class="bold">{{'pages.project.science.lessInfluenceAmount' | translate}}: </span>{{riskClassicGroupData[valueKey.name].analyzeTable.lessInfluenceAmount.name}} -> {{riskClassicGroupData[valueKey.name].analyzeTable.lessInfluenceAmount.value}}</p>
          </div> -->
          <!-- <div class="container flex">
            <div class="flex line">
              <div class="square blue"></div>
              <p> + </p>
            </div>
            <div class="flex line">
              <div class="square light"></div>
              <p> - </p>
            </div>
          </div> -->
        }
        <div [id]="`model-container-${valueKey.label}`" [class]="`container model-container-${valueKey.label}`"></div>
      }
    }
    <p-divider />
    <p> <span class="bold">{{results.risksLean.label | translate}}:</span> {{results.risksLean.value}}</p>
    <p> <span class="bold">{{results.risksDigital.label | translate}}:</span> {{results.risksDigital.value}}</p>
    <p> <span class="bold">{{results.risksClassic.label | translate}}:</span> {{results.risksClassic.value}}</p>
  </div>
</section>

<app-footer></app-footer>
