<app-header></app-header>
<main class="portfolio-creation">
  <section>
    <p-stepper [value]="1">
      <p-step-item [value]="1">
        <p-step>{{'pages.portfolio.creation.firstHeader' | translate}}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex">
              <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
                <div class="flex flex-col gap-1">
                  <label for="name" class="bold">{{'pages.portfolio.creation.namePLabel' | translate}}</label>
                  <input
                    pInputText
                    type="text"
                    id="name"
                    [placeholder]="'pages.portfolio.creation.namePPlaceholder' | translate"
                    [pTooltip]="'pages.portfolio.creation.namePTolltip' | translate"
                    tooltipPosition="right"
                    name="name"
                    [(ngModel)]="data.name"
                    #name="ngModel"
                    [invalid]="name.invalid && (name.touched || form.submitted)"
                    required />
                  @if (name.invalid && (name.touched || form.submitted)) {
                    <p-message severity="error" size="small" variant="simple">{{'pages.portfolio.creation.namePRequired' | translate}}</p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="subinfo" class="bold">{{'pages.portfolio.creation.subinfoPLabel' | translate}}</label>
                  <input
                    pInputText
                    type="text"
                    id="subinfo"
                    [placeholder]="'pages.portfolio.creation.subinfoPPlaceholder' | translate"
                    [pTooltip]="'pages.portfolio.creation.subinfoPTolltip' | translate"
                    tooltipPosition="right"
                    name="subinfo"
                    [(ngModel)]="data.subinfo"
                    #subinfo="ngModel"
                    [invalid]="subinfo.invalid && (subinfo.touched || form.submitted)"
                    required />
                  @if (subinfo.invalid && (subinfo.touched || form.submitted)) {
                    <p-message severity="error" size="small" variant="simple">{{'pages.portfolio.creation.subinfoPRequired' | translate}}</p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="description" class="bold">{{'pages.portfolio.creation.descriptionPLabel' | translate}}</label>
                  <textarea
                    pTextarea
                    type="text"
                    id="description"
                    [placeholder]="'pages.portfolio.creation.descriptionPPlaceholder' | translate"
                    [pTooltip]="'pages.portfolio.creation.descriptionPTolltip' | translate"
                    tooltipPosition="right"
                    name="description"
                    [(ngModel)]="data.des"
                    #description="ngModel"
                    [invalid]="description.invalid && (description.touched || form.submitted)"
                    required>
                  </textarea>
                  @if (description.invalid && (description.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.descriptionPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <!-- <p-divider /> -->
                <!-- <div class="flex flex-col gap-1">
                  <label for="budget" class="bold">{{'pages.portfolio.creation.budgetPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="budget"
                    [pTooltip]="'pages.portfolio.creation.budgetPTolltip' | translate"
                    tooltipPosition="right"
                    name="budget"
                    mode="currency"
                    currency="USD"
                    [(ngModel)]="data.budget"
                    #budget="ngModel"
                    [invalid]="budget.invalid && (budget.touched || form.submitted)"
                    required
                    [minFractionDigits]="2" />
                  @if (budget.invalid && (budget.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.budgetPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="profit" class="bold">{{'pages.portfolio.creation.profitPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="profit"
                    [pTooltip]="'pages.portfolio.creation.profitPTolltip' | translate"
                    tooltipPosition="right"
                    name="profit"
                    mode="currency"
                    currency="USD"
                    [(ngModel)]="data.profit"
                    #profit="ngModel"
                    [invalid]="profit.invalid && (profit.touched || form.submitted)"
                    required
                    [minFractionDigits]="2" />
                  @if (profit.invalid && (profit.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.profitPRequired' | translate}}
                    </p-message>
                  }
                </div> -->
                <div class="flex flex-col gap-1">
                  <label for="duration" class="bold">{{'pages.portfolio.creation.durationPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="duration"
                    [pTooltip]="'pages.portfolio.creation.durationPTolltip' | translate"
                    tooltipPosition="right"
                    name="duration"
                    [(ngModel)]="data.duration"
                    #duration="ngModel"
                    [invalid]="duration.invalid && (duration.touched || form.submitted)"
                    [suffix]="'pages.portfolio.creation.durationPSuffix' | translate"
                    suffix=" d"
                    required
                    [minFractionDigits]="2" />
                  @if (duration.invalid && (duration.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.durationPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <p-divider />
                <div class="flex flex-wrap gap-4">
                  <label for="location" class="bold">{{'pages.portfolio.creation.locationLabel' | translate}}</label>
                  <div class="flex items-center">
                    <p-radiobutton name="pizza" value="INSIDE" [(ngModel)]="data.location" inputId="inside" />
                    <label for="inside" class="ml-2">{{'pages.portfolio.creation.locationInsideLabel' | translate}}</label>
                  </div>
                  <div class="flex items-center">
                    <p-radiobutton name="outside" value="OUTSIDE" [(ngModel)]="data.location" inputId="outside" />
                    <label for="outside" class="ml-2">{{'pages.portfolio.creation.locationOutsideLabel' | translate}}</label>
                  </div>
                  <div class="flex items-center">
                    <p-radiobutton name="complex" value="COMPLEX" [(ngModel)]="data.location" inputId="complex" />
                    <label for="complex" class="ml-2">{{'pages.portfolio.creation.locationComplexLabel' | translate}}</label>
                  </div>
                </div>
                @if (data.location && data.location !== 'OUTSIDE') {
                  <label for="town" class="bold">{{'pages.portfolio.creation.townPLabel' | translate}}</label>
                  <div class="flex flex-col gap-1">
                    <input
                      pInputText
                      type="text"
                      id="town"
                      [placeholder]="'pages.portfolio.creation.townPPlaceholder' | translate"
                      [pTooltip]="'pages.portfolio.creation.townPTolltip' | translate"
                      tooltipPosition="right"
                      name="town"
                      [(ngModel)]="data.town"
                      #town="ngModel"
                      [invalid]="town.invalid && (town.touched || form.submitted)"
                      required />
                    @if (town.invalid && (town.touched || form.submitted)) {
                      <p-message severity="error" size="small" variant="simple">{{'pages.portfolio.creation.townPRequired' | translate}}</p-message>
                    }
                  </div>
                }
                <p-divider />
                <h1>{{'pages.portfolio.creation.factorsPTitle' | translate}}</h1>
                <div class="flex flex-col gap-1">
                  <label for="eco" class="bold">{{'pages.portfolio.creation.optionsEconomicPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="eco"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.optionsEconomicPTolltip' | translate"
                    tooltipPosition="right"
                    name="eco"
                    [(ngModel)]="data.options.eco"
                    #eco="ngModel"
                    [invalid]="eco.invalid && (eco.touched || form.submitted)"
                    suffix="%"
                    required
                    [min]="0"
                    [max]="100"
                    [step]="5"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                  @if (eco.invalid && (eco.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.optionsEconomicPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="war" class="bold">{{'pages.portfolio.creation.optionsWarPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="war"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.optionsWarPTolltip' | translate"
                    tooltipPosition="right"
                    name="war"
                    [(ngModel)]="data.options.war"
                    #war="ngModel"
                    [invalid]="war.invalid && (war.touched || form.submitted)"
                    suffix="%"
                    required
                    [min]="0"
                    [max]="100"
                    [step]="5"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                  @if (war.invalid && (war.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.optionsWarPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="log" class="bold">{{'pages.portfolio.creation.optionsLogisticPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="log"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.optionsLogisticPTolltip' | translate"
                    tooltipPosition="right"
                    name="log"
                    [(ngModel)]="data.options.log"
                    #log="ngModel"
                    [invalid]="log.invalid && (log.touched || form.submitted)"
                    suffix="%"
                    required
                    [min]="0"
                    [max]="100"
                    [step]="5"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                  @if (log.invalid && (log.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.optionsLogisticPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="soc" class="bold">{{'pages.portfolio.creation.optionsSocialPLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="soc"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.optionsSocialPTolltip' | translate"
                    tooltipPosition="right"
                    name="soc"
                    [(ngModel)]="data.options.soc"
                    #soc="ngModel"
                    [invalid]="soc.invalid && (soc.touched || form.submitted)"
                    suffix="%"
                    required
                    [min]="0"
                    [max]="100"
                    [step]="5"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                  @if (soc.invalid && (soc.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.optionsSocialPRequired' | translate}}
                    </p-message>
                  }
                </div>
                <div class="flex flex-col gap-1">
                  <label for="struc" class="bold">{{'pages.portfolio.creation.optionsSctructurePLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="struc"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.optionsSctructurePTolltip' | translate"
                    tooltipPosition="right"
                    name="struc"
                    [(ngModel)]="data.options.struc"
                    #struc="ngModel"
                    [invalid]="struc.invalid && (struc.touched || form.submitted)"
                    suffix="%"
                    required
                    [min]="0"
                    [max]="100"
                    [step]="5"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                  @if (struc.invalid && (struc.touched || form.submitted)) {
                    <p-message
                      severity="error"
                      size="small"
                      variant="simple"
                    >
                      {{'pages.portfolio.creation.optionsSctructurePRequired' | translate}}
                    </p-message>
                  }
                </div>
              </form>
            </div>
            <div class="py-6">
              <p-button
                [label]="`${'pages.portfolio.creation.nextButton' | translate}`"
                [pTooltip]="'pages.portfolio.creation.nextButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="activateCallback(2)"/>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="2">
        <p-step>{{'pages.portfolio.creation.secondHeader' | translate}}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex">
              <p-button [label]="'pages.portfolio.creation.addNewProjectButton' | translate" (click)="showDialogProjects(true)" />
            </div>
            <div class="card">
              <p-card [header]="'pages.portfolio.creation.sortingTypeHeader' | translate">
                <div class="flex space-between">
                  <p-button
                    label="HIFO"
                    [pTooltip]="'pages.portfolio.creation.hifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('HIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('HIFO')"
                    (click)="selectSorting('HIFO')" />
                  <p-button
                    label="LIFO"
                    [pTooltip]="'pages.portfolio.creation.lifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('LIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('LIFO')"
                    (click)="selectSorting('LIFO')" />
                  <p-button
                    label="FIFO"
                    [pTooltip]="'pages.portfolio.creation.fifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('FIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('FIFO')"
                    (click)="selectSorting('FIFO')" />
                  <p-button
                    label="FEFO"
                    [pTooltip]="'pages.portfolio.creation.fefoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('FEFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('FEFO')"
                    (click)="selectSorting('FEFO')" />
                  <p-button
                    label="FEFO + HIFO"
                    [pTooltip]="'pages.portfolio.creation.fefohifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('FEFOHIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('FEFOHIFO')"
                    (click)="selectSorting('FEFOHIFO')" />
                  <p-button
                    label="FEFO + LIFO"
                    [pTooltip]="'pages.portfolio.creation.fefolifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('FIFOLIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('FIFOLIFO')"
                    (click)="selectSorting('FIFOLIFO')" />
                  <p-button
                    label="FEFO + FIFO + HIFO"
                    [pTooltip]="'pages.portfolio.creation.fefofifohifoTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    [severity]="checkSortingType('FEFOFIFOHIFO') ? 'primary' : 'warn'"
                    [disabled]="checkSortingType('FEFOFIFOHIFO')"
                    (click)="selectSorting('FEFOFIFOHIFO')" />
                  <p-button
                    label="Cancel"
                    [pTooltip]="'pages.portfolio.creation.sortingCancelTolltip' | translate"
                    tooltipPosition="bottom"
                    type="button"
                    severity="secondary"
                    [disabled]="checkSortingType('Cancel')"
                    (click)="selectSorting('Cancel')" />
                </div>
              </p-card>
              <p-card>
                <div class="flex flex-col gap-1">
                  <label for="strucType" class="bold">{{'pages.portfolio.creation.strucTypeLabel' | translate}}</label>
                  <p-multiselect
                    inputId="strucType"
                    [options]="filterItems.type"
                    [(ngModel)]="filterOptions.type"
                    [pTooltip]="'pages.portfolio.creation.strucTypeTolltip' | translate"
                    tooltipPosition="right"
                    [placeholder]="'pages.portfolio.creation.strucTypePlaceholder' | translate"
                    optionLabel="label"
                    [showClear]="true"
                    class="w-full md:w-56" />
                </div>
                <div class="flex flex-col gap-1">
                  <label for="scoreFiltering" class="bold">{{'pages.portfolio.creation.scoreFilteringLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="scoreFiltering"
                    [pTooltip]="'pages.portfolio.creation.scoreFilteringTolltip' | translate"
                    tooltipPosition="right"
                    name="scoreFiltering"
                    [min]="0"
                    [(ngModel)]="filterOptions.score"
                    [minFractionDigits]="0" >
                  </p-inputnumber>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="projectsAmount" class="bold">{{'pages.portfolio.creation.projectsAmountLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="projectsAmount"
                    [pTooltip]="'pages.portfolio.creation.projectsAmountTolltip' | translate"
                    tooltipPosition="right"
                    name="projectsAmount"
                    [min]="-1"
                    [max]="projects.length"
                    [(ngModel)]="filterOptions.projectsAmount"
                    [minFractionDigits]="0" >
                  </p-inputnumber>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="profitFiltering" class="bold">{{'pages.portfolio.creation.profitFilteringLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="profitFiltering"
                    [pTooltip]="'pages.portfolio.creation.profitFilteringTolltip' | translate"
                    tooltipPosition="right"
                    name="profitFiltering"
                    [(ngModel)]="filterOptions.profit"
                    currency="USD"
                    [minFractionDigits]="2" >
                  </p-inputnumber>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="priorityFiltering" class="bold">{{'pages.portfolio.creation.priorityFilteringLabel' | translate}}</label>
                  <p-inputnumber
                    inputId="priorityFiltering"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [pTooltip]="'pages.portfolio.creation.priorityFilteringTolltip' | translate"
                    tooltipPosition="right"
                    name="priorityFiltering"
                    [(ngModel)]="filterOptions.priority"
                    [min]="0"
                    [max]="10"
                    [step]="1"
                    [minFractionDigits]="0" >
                      <ng-template #incrementbuttonicon>
                          <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                          <span class="pi pi-minus"></span>
                      </ng-template>
                  </p-inputnumber>
                </div>
              </p-card>
            </div>
            <div class="flex h-48">
              <div class="half mr-10">
                <h1>{{'pages.portfolio.creation.unselectedProjectsLabel' | translate}}</h1>
                <div class="container">
                  @for (project of projectsUnselected; track project; let idx = $index) {
                    <p-card
                      header="Project 1"
                      [pTooltip]="`${'pages.portfolio.creation.selectProjectTooltip' | translate} ${project.name}`"
                      tooltipPosition="top"
                      [style]="{
                        'max-width': '200px',
                        'margin': '10px',
                        'max-height': '250px',
                        'cursor': 'pointer',
                        'overflow': 'hidden' }"
                      (click)="select(idx, $event)">
                      <ng-template #title>
                        {{project.name}}
                        <p-button
                          icon="pi pi-eye"
                          [pTooltip]="`${'pages.portfolio.creation.watchProjectTooltip' | translate} ${project.name}`"
                          tooltipPosition="top"
                          severity="secondary"
                          (click)="showInfoProjectDialog(project._id, $event)"/>
                      </ng-template>
                      <ng-template #subtitle>
                        <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                        <span
                          [style]="{
                            'color': project.priority === 10 ?
                            'red': project.priority > 7 ?
                            'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                        <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                      </ng-template>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                      <ng-template #footer>
                        <div class="flex space-evenly">
                          <p-button
                            [label]="`${'pages.portfolio.creation.updateButton' | translate}`"
                            [pTooltip]="`${'pages.portfolio.creation.updateButtonTooltip' | translate} ${project.name}`"
                            tooltipPosition="top"
                            severity="warn"
                            (click)="showDialogProjects(true, project._id, $event)"/>
                          <p-button
                            [label]="`${'pages.portfolio.creation.removeButton' | translate}`"
                            [pTooltip]="`${'pages.portfolio.creation.removeButtonTooltip' | translate} ${project.name}`"
                            severity="danger"
                            (click)="removeProjects(project._id, $event)"/>
                        </div>
                      </ng-template>
                    </p-card>
                  }
                </div>
              </div>
              <div class="half">
                <h1>{{'pages.portfolio.creation.selectedProjectsLabel' | translate}}</h1>
                <div class="container">
                  @for (project of projectsSelected; track project; let idx = $index) {
                    <p-card
                      header="Project 1"
                      [style]="{
                        'max-width': '200px',
                        'margin': '10px',
                        'max-height': '250px',
                        'cursor': 'pointer',
                        'overflow': 'hidden' }"
                      (click)="unselect(idx, $event)">
                      <ng-template #title>
                        {{project.name}}
                        <p-button
                          icon="pi pi-eye"
                          [pTooltip]="`${'pages.portfolio.creation.watchProjectTooltip' | translate} ${project.name}`"
                          tooltipPosition="top"
                          severity="secondary"
                          (click)="showInfoProjectDialog(project._id, $event)"/>
                      </ng-template>
                      <ng-template #subtitle>
                        <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                        <span
                          [style]="{
                            'color': project.priority === 10 ?
                            'red': project.priority > 7 ?
                            'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                        <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                      </ng-template>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                      <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                      <ng-template #footer>
                        <div class="flex space-evenly">
                          <p-button
                            [label]="`${'pages.portfolio.creation.updateButton' | translate}`"
                            [pTooltip]="`${'pages.portfolio.creation.updateButtonTooltip' | translate} ${project.name}`"
                            tooltipPosition="top"
                            severity="warn"
                            (click)="showDialogProjects(true, project._id, $event)"/>
                          <p-button
                            [label]="`${'pages.portfolio.creation.removeButton' | translate}`"
                            [pTooltip]="`${'pages.portfolio.creation.removeButtonTooltip' | translate} ${project.name}`"
                            severity="danger"
                            (click)="removeProjects(project._id, $event)"/>
                        </div>
                      </ng-template>
                    </p-card>
                  }
                </div>
              </div>
            </div>
            <div class="flex py-6 gap-2">
              <p-button
                [label]="`${'pages.portfolio.creation.backButton' | translate}`"
                [pTooltip]="'pages.portfolio.creation.backButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="activateCallback(1)"/>
              <p-button
                [label]="`${'pages.portfolio.creation.nextButton' | translate}`"
                [pTooltip]="'pages.portfolio.creation.nextButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="tiersFiltering(); activateCallback(3)"/>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="3">
        <p-step>{{'pages.portfolio.creation.thirdHeader' | translate}}</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex h-48 column">
              <p><span class="bold">{{'pages.portfolio.creation.budgetLabel' | translate}}:</span> {{data.budget}} USD</p>
              <p><span class="bold">{{'pages.portfolio.creation.profitLabel' | translate}}:</span> {{data.profit}} USD</p>
              <p>
                <span class="bold">{{'pages.portfolio.creation.advantageLabel' | translate}}:</span>
                <span class="bold"
                  [style]="{
                    'color': data.profit - data.budget > 0 ?
                    'green': data.profit - data.budget < 0 ?
                    'red' : 'black'
                  }"> {{data.profit - data.budget}} USD</span>
              </p>
            </div>
            <div class="flex h-48 column">
              <h1>{{'pages.portfolio.creation.thirdTierIHeader' | translate}}</h1>
              <div class="container tiers" pDroppable (onDrop)="drop('tierI')">
                @for (project of data.projectIds.tierI; track project; let idx = $index) {
                  <p-card
                    header="Project 1"
                    [style]="{
                      'max-width': '200px',
                      'margin': '10px',
                      'max-height': '200px',
                      'cursor': 'pointer',
                      'border': `1px solid ${
                        project.priority === 10 ?
                        'red': project.priority > 7 ?
                        'yellow': project.priority > 4 ? 'green' : 'blue'
                      }`,
                      'overflow': 'hidden' }"
                    pDraggable
                    (onDragStart)="dragStart(project, 'tierI')"
                    (onDragEnd)="dragEnd()"
                    >
                    <ng-template #title> {{project.name}} </ng-template>
                    <ng-template #subtitle>
                      <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                      <span
                        [style]="{
                          'color': project.priority === 10 ?
                          'red': project.priority > 7 ?
                          'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                      <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                    </ng-template>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                  </p-card>
                } @empty {
                  <p><span class="bold">{{'pages.portfolio.creation.noProjectHereTitle' | translate}}</span></p>
                }
              </div>
              <h1>{{'pages.portfolio.creation.thirdTierIIHeader' | translate}}</h1>
              <div class="container tiers" pDroppable (onDrop)="drop('tierII')">
                @for (project of data.projectIds.tierII; track project; let idx = $index) {
                  <p-card
                    header="Project 1"
                    [style]="{
                      'max-width': '200px',
                      'margin': '10px',
                      'max-height': '200px',
                      'cursor': 'pointer',
                      'border': `1px solid ${
                        project.priority === 10 ?
                        'red': project.priority > 7 ?
                        'yellow': project.priority > 4 ? 'green' : 'blue'
                      }`,
                      'overflow': 'hidden' }"
                    pDraggable
                    (onDragStart)="dragStart(project, 'tierII')"
                    (onDragEnd)="dragEnd()"
                    >
                    <ng-template #title> {{project.name}} </ng-template>
                    <ng-template #subtitle>
                      <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                      <span
                        [style]="{
                          'color': project.priority === 10 ?
                          'red': project.priority > 7 ?
                          'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                      <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                    </ng-template>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                  </p-card>
                } @empty {
                  <p><span class="bold">{{'pages.portfolio.creation.noProjectHereTitle' | translate}}</span></p>
                }
              </div>
              <h1>{{'pages.portfolio.creation.thirdTierIIIHeader' | translate}}</h1>
              <div class="container tiers" pDroppable (onDrop)="drop('tierIII')">
                @for (project of data.projectIds.tierIII; track project; let idx = $index) {
                  <p-card
                    header="Project 1"
                    [style]="{
                      'max-width': '200px',
                      'margin': '10px',
                      'max-height': '200px',
                      'cursor': 'pointer',
                      'border': `1px solid ${
                        project.priority === 10 ?
                        'red': project.priority > 7 ?
                        'yellow': project.priority > 4 ? 'green' : 'blue'
                      }`,
                      'overflow': 'hidden' }"
                    pDraggable
                    (onDragStart)="dragStart(project, 'tierIII')"
                    (onDragEnd)="dragEnd()"
                    >
                    <ng-template #title> {{project.name}} </ng-template>
                    <ng-template #subtitle>
                      <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                      <span
                        [style]="{
                          'color': project.priority === 10 ?
                          'red': project.priority > 7 ?
                          'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                      <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                    </ng-template>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                  </p-card>
                } @empty {
                  <p><span class="bold">{{'pages.portfolio.creation.noProjectHereTitle' | translate}}</span></p>
                }
              </div>
              <h1>{{'pages.portfolio.creation.notInvolvedHeader' | translate}}</h1>
              <div class="container tiers" pDroppable (onDrop)="drop('unselected')">
                @for (project of projectsUnselected; track project; let idx = $index) {
                  <p-card
                    header="Project 1"
                    [style]="{
                      'max-width': '200px',
                      'margin': '10px',
                      'max-height': '200px',
                      'cursor': 'pointer',
                      'border': `1px solid ${
                        project.priority === 10 ?
                        'red': project.priority > 7 ?
                        'yellow': project.priority > 4 ? 'green' : 'blue'
                      }`,
                      'overflow': 'hidden' }"
                    pDraggable
                    (onDragStart)="dragStart(project, 'unselected')"
                    (onDragEnd)="dragEnd()"
                    >
                    <ng-template #title> {{project.name}} </ng-template>
                    <ng-template #subtitle>
                      <span class="bold">{{'pages.portfolio.creation.projectCardPriorityLabel' | translate}}:</span>
                      <span
                        [style]="{
                          'color': project.priority === 10 ?
                          'red': project.priority > 7 ?
                          'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
                      <span class="bold">{{'pages.portfolio.creation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}
                    </ng-template>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardTypeLabel' | translate}}:</span> {{project.type}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardProfitLabel' | translate}}:</span> {{project.profit}}</p>
                    <p> <span class="bold">{{'pages.portfolio.creation.projectCardScoreLabel' | translate}}:</span> {{project.score}}</p>
                    </p-card>
                } @empty {
                  <p><span class="bold">{{'pages.portfolio.creation.noProjectHereTitle' | translate}}</span></p>
                }
              </div>
            </div>
            <div class="py-6 buttons">
              <p-button
                [label]="`${'pages.portfolio.creation.backButton' | translate}`"
                [pTooltip]="'pages.portfolio.creation.backButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="activateCallback(2)"/>
              <p-button
                [label]="'pages.portfolio.creation.watchPortfolioButton' | translate"
                [pTooltip]="'pages.portfolio.creation.watchPortfolioTolltip' | translate"
                tooltipPosition="bottom"
                severity="primary"
                type="button"
                (click)="watchPortfolio()" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
    </p-stepper>
  </section>
  <section>

  </section>
  <section>

  </section>
</main>
<app-footer></app-footer>

<app-info-dialog [visible]="visible.info" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>

<app-creation-dialog [formData]="currentProject" [visible]="visible.creation" (changeVisibleEvent)="visibleOnChange($event)" (submitionEvent)="getAllProjects()"></app-creation-dialog>
