<app-header></app-header>
<section class="approve">
  <p-button
    label="Експертиза"
    pTooltip="Повернення до вибору експертизи"
    tooltipPosition="top"
    severity="primary"
    (click)="back()"/>
  <div>
    <div class="flex flex-col h-48">
      <div class="container w-full column">
        <div>
          <p><span class="bold">Виберіть критерії експертизи</span></p>
          <p-multiselect
            inputId="selectFieldsForExpertise"
            name="selectFieldsForExpertise"
            [options]="fields"
            [ngModel]="selectedFields"
            (ngModelChange)="changeSelectedFields($event)"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Виберіть критерії експертизи"
            pTooltip="Виберіть критерії експертизи зі списку. Можна вибрати більше одного разу."
            tooltipPosition="right"
            [showClear]="true"
            class="w-full md:w-56" />
        </div>
        <div>
          <p><span class="bold">Введіть новий критерій експертизи</span></p>
          <input
            pInputText
            type="text"
            id="createFieldForExpertise"
            placeholder="Критерія"
            pTooltip="Введіть новий критерій експертизи"
            tooltipPosition="right"
            name="createFieldForExpertise"
            [(ngModel)]="additionalFields"
            [ngModelOptions]="{ standalone: true }" />
          <p-button
            label="Додати критерій"
            pTooltip="Натисніть, щоб додати новий критерій"
            [outlined]="true"
            severity="success"
            (click)="addField()" />
        </div>
      </div>
      @if (this.fieldsToApprove.length) {
        <div>
          <h2>Реєстр ризиків (1 - {{this.fieldsToApprove.length}})</h2>
          <div class="container">
            @for (field of this.fieldsToApprove; track field) {
              <div class="flex space-between w-full">
                <div class="flex align-center">
                  <p-button
                    icon="pi pi-times"
                    [rounded]="true"
                    [text]="true"
                    (click)="removeField($index)"
                    pTooltip=""
                    severity="danger" />
                  <p><span class="bold">{{field.label | translate}}</span></p>
                </div>
                <p-inputnumber
                  [inputId]="field.label + $index"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  [pTooltip]="`Введіть ранг для поля '${field.label}'`"
                  tooltipPosition="right"
                  [name]="field.label + $index"
                  [(ngModel)]="field.grade"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  [min]="1"
                  [max]="this.fieldsToApprove.length"
                  [step]="1"
                  [minFractionDigits]="0" >
                    <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                    </ng-template>
                </p-inputnumber>
              </div>
            }
          </div>
        </div>
      }
    <p-button
      label="Зберегти реєстр"
      pTooltip="Натисніть, щоб зберегти поточний реєстр"
      tooltipPosition="top"
      severity="primary"
      (click)="updateExpertise()"/>
    </div>

    <div class="flex flex-col h-48">
      <div>
        <p>
          <span class="bold">Узгодженість</span>:
          <span class="bold" [style]="{ 'color': current.approve.consistency > 0.5 ? 'darkcyan' : 'firebrick' }"> {{current.approve.consistency > 0.5 ? 'Достатньо' : 'Недостатньо'}} ({{current.approve.consistency}})</span>
        </p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
