<header>
  <p-menubar [model]="items" [style]="{
    'background-color': '#b91c1c',
    'border-color': '#b91c1c',
    'border-radius': 0,
    'color': 'white'
  }">
    <ng-template #start>
      <div (click)="navigate('main')">
        <img class="logo-main" src="/logo.png" alt="">
      </div>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a
        pRipple
        [pTooltip]="`pages.main.header.${item.label}Tooltip` | translate"
        tooltipPosition="right"
        (click)="navigate(item.path)"
        class="flex items-center p-menubar-item-link">
        <span [style]="{'color': 'white'}">{{`pages.main.header.${item.label}` | translate}}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex">
        <!-- <div class="selector-lang">
          <p-select
            [options]="languages"
            (onChange)="changeLanguage()"
            [(ngModel)]="selectedLanguage"
            placeholder="Select a Language"
            class="w-full md:w-56" />
        </div> -->
        <div class="flex items-center gap-2">
          <p-avatar
            image="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png"
            [style]="{ 'cursor': 'pointer' }"
            (click)="navigate('profile')"
            [pTooltip]="'pages.main.header.profileTooltip' | translate"
            tooltipPosition="bottom"
            shape="circle" />
        </div>
      </div>
    </ng-template>
  </p-menubar>
</header>
