<section class="solution">
  <div legend="solution creation" class="container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="form-container row">
        <div class="form-container column">
          @for (input of inputs.solution; track input) {
            @if (input.displayCondition && input.type !== 'line') {
              <div class="flex flex-col gap-1">
                @if (input.type !== 'checklist') {
                  <label for="name" class="bold">{{input.label | translate}}
                    @if (input.suffix) {
                      {{input.suffix | translate}}
                    }
                  </label>
                }
                @if (input.type === 'textarea') {
                  <textarea
                    pTextarea
                    type="text"
                    [id]="input.name"
                    class="mt-5"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    required>
                  </textarea>
                } @else if (input.type === 'selector') {
                  <p-select
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [options]="input.items"
                    multi
                    [ngModel]="input.value"
                    (ngModelChange)="catchIndex($event)"
                    [ngModelOptions]="{ standalone: true }"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    class="w-full md:w-56" />
                }
              </div>
            } @else if (input.displayCondition) {
              <p-divider />
            }
          }
        </div>
        <div>
          <p-button
            [label]="'pages.portfolio.dialog.saveButton' | translate"
            [pTooltip]="'pages.portfolio.dialog.saveButtonTooltip' | translate"
            severity="primary"
            (click)="updateProject(form)" />
        </div>
      </div>
    </form>
  </div>
  @if (conflictIndex > -1 && currentProject.balance && currentProject.balance.conflicts) {
    <div legend="Solutions" class="container scroll">
      @for (solution of currentProject.balance.conflicts[conflictIndex].solutions; track solution) {
        <p-card
          [style]="{
            'max-width': '300px',
            'max-height': '700px',
            'margin': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }">
          <ng-template #title>
            <span class="bold">Рішення: </span> {{solution}}
            <p-button
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              (click)="removeSolution($index)"
              pTooltip="Натисніть, щоб видалити конфлікт"
              severity="danger" />
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> Рішень не знайдено... </h2>
      }
    </div>
  }
</section>
