<section class="cog-model">
  <div class="container form-container">

    @if (user.type === 'USER') {
      <div legend="Projects" class="container">
        <p-multiselect
          name="expertSelector"
          [options]="experts"
          [(ngModel)]="selectedEmail"
          [ngModelOptions]="{ standalone: true }"
          optionLabel="organization"
          [showClear]="true"
          class="w-full md:w-56" />
        <p-select
          name="typeSelector"
          [options]="types"
          [(ngModel)]="selectedType"
          [ngModelOptions]="{ standalone: true }"
          [showClear]="true"
          class="w-full md:w-56" />
        @if (selectedType === 'CLD') {
          <p-select
            name="selectedGeneralExperts"
            [options]="selectedEmail"
            [(ngModel)]="selectedGeneralExperts"
            [ngModelOptions]="{ standalone: true }"
            optionLabel="organization"
            [showClear]="true"
            class="w-full md:w-56" />
        }
        <p-button
          [label]="'pages.project.science.addNewExpertiseButtonLabel' | translate"
          pTooltip="Натисніть, щоб створити нову експертизу"
          [disabled]="!selectedEmail || !selectedType || (selectedType === 'CLD' && !selectedGeneralExperts)"
          severity="primary"
          (click)="createExpertise()" />
      </div>
    }
    <div legend="Projects" class="container-card">
      @for (expertise of expertises; track expertise) {
        <p-card
          [pTooltip]="`${'pages.project.science.watchExpertiseMainTooltip' | translate}`"
          tooltipPosition="top"
          [style]="{
            'max-width': '300px',
            'margin-top': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }"
          (click)="showInfoDialogExpertise($index)">
          <ng-template #title> <span class="bold">{{'pages.project.science.expertEmailLabel' | translate}} </span></ng-template>
          <ng-template #subtitle><span class="bold">{{'pages.project.science.statusLabel' | translate}}:</span>
            <span class="bold" [style]="{ 'color': expertise.status === 'НОВИЙ' ?
              'darkorange' : expertise.status === 'ПОГОДЖЕННЯ' || expertise.status === 'ВАГА ОЦІНКИ' ?
              'firebrick' : expertise.status === 'ОЦІНКА' ?
              'darkcyan' : 'darkblue'}"> {{expertise.status | translate}}</span>
          </ng-template>
          <ng-template #content>
            <p> <span class="bold">{{'pages.project.science.typeExperiseLabel' | translate}}:</span> {{expertise.type}}</p>
            <p> <span class="bold">{{'pages.project.science.expertNameLabel' | translate}}:</span> {{expertise.expertName}}</p>
          </ng-template>
          <ng-template #footer>
            @if (user.type === 'USER') {
              <div class="flex space-evenly">
                <p-button
                  [label]="`${'pages.project.science.removeButton' | translate}`"
                  [pTooltip]="`${'pages.project.science.removeButtonTooltip' | translate}`"
                  severity="danger"
                  (click)="removeExpertise(expertise._id, $event)"/>
              </div>
            }
            @if (user.type === 'EXPERT') {
              <div class="flex space-evenly">
                <p-button
                  [label]="`${'pages.project.science.approveButton' | translate}`"
                  [pTooltip]="`${'pages.project.science.approveButtonTooltip' | translate}`"
                  severity="success"
                  (click)="approveExpertise(expertise, $event)"/>
                @if (expertise.status !== 'НОВИЙ' && expertise.status !== 'ПОГОДЖЕННЯ') {
                  @if (expertise.type === 'CLD' && expertise.approve.consistency >= 0.5) {
                    @if (expertise.approve.weigth) {
                      <p-button
                        label="CLD"
                        [pTooltip]="`${'pages.project.science.updateButtonTooltip' | translate}`"
                        severity="warn"
                        (click)="updateExpertise(expertise, $event, 'CLD')"/>
                    }
                    @if (expertise.generalExperts && expertise.generalExperts.email === this.user.email && expertise.approve.consistency >= 0.5) {
                      <p-button
                        label="CLD Критерії"
                        [pTooltip]="`${'pages.project.science.updateButtonTooltip' | translate}`"
                        severity="danger"
                        (click)="updateExpertiseWeight(expertise, $event, 'CLD')"/>
                    }
                  } @else if (expertise.approve.consistency >= 0.5) {
                    <p-button
                      label="KO"
                      [pTooltip]="`${'pages.project.science.updateButtonTooltip' | translate}`"
                      severity="warn"
                      (click)="updateExpertise(expertise, $event, 'KO')"/>
                  }
                }
              </div>
            }
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> {{'pages.project.science.noExpertisesExist' | translate}} </h2>
      }
    </div>
  </div>
</section>
