<section class="cog-model">
  <div class="container form-container">

    @if (user.type === 'USER') {
      <div legend="Projects" class="container">
        <p-select
          [options]="experts"
          [(ngModel)]="selectedEmail"
          optionLabel="email"
          placeholder="Select an expert"
          class="w-full md:w-56" />
        <p-button
          [label]="'pages.project.science.addNewExpertiseButtonLabel' | translate"
          [pTooltip]="'pages.project.science.addNewExpertiseButtonTooltip' | translate"
          [outlined]="true"
          [disabled]="!selectedEmail"
          severity="primary"
          (click)="createExpertise()" />
      </div>
    }
    <div legend="Projects" class="container-card">
      @for (expertise of expertises; track expertise) {
        <p-card
          [pTooltip]="`${'pages.project.science.watchExpertiseMainTooltip' | translate}`"
          tooltipPosition="top"
          [style]="{
            'max-width': '300px',
            'margin-top': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }"
          (click)="showInfoDialogExpertise($index)">
          <ng-template #title> <span class="bold">{{'pages.project.science.expertLabel' | translate}}: </span>{{expertise.email}} </ng-template>
          <ng-template #subtitle><span class="bold">{{'pages.project.science.statusLabel' | translate}}:</span>
            <span class="bold" [style]="{ 'color': expertise.status === 'NEW' ?
              'darkorange' : expertise.status === 'UPDATED' ?
              'darkblue' : expertise.status === 'APPROVED' ?
              'darkcyan' : 'firebrick'}"> {{expertise.status}}</span>
          </ng-template>
          <ng-template #content>
            <p> <span class="bold">{{'pages.project.science.risksLeanLabel' | translate}}: </span>{{expertise.risksLean}}</p>
            <p> <span class="bold">{{'pages.project.science.risksDigitalLabel' | translate}}:</span> {{expertise.risksDigital}}</p>
            <p> <span class="bold">{{'pages.project.science.risksClassicLabel' | translate}}:</span> {{expertise.risksClassic}}</p>
          </ng-template>
          <ng-template #footer>
            @if (user.type === 'USER') {
              <div class="flex space-evenly">
                <p-button
                  [label]="`${'pages.main.main.removeButton' | translate}`"
                  [pTooltip]="`${'pages.main.main.removeButtonTooltip' | translate}`"
                  severity="danger"
                  (click)="removeExpertise(expertise._id, $event)"/>
              </div>
            }
            @if (user.type === 'EXPERT') {
              @if (user.email === expertise.email) {
                <div class="flex space-evenly">
                  <p-button
                    [label]="`${'pages.project.science.updateButton' | translate}`"
                    [pTooltip]="`${'pages.project.science.updateButtonTooltip' | translate}`"
                    severity="warn"
                    (click)="updateExpertise(expertise, $event)"/>
                </div>
              } @else {
                <div class="flex space-evenly">
                  <p-button
                    [label]="`${'pages.project.science.approveButton' | translate}`"
                    [pTooltip]="`${'pages.project.science.approveButtonTooltip' | translate}`"
                    severity="success"
                    (click)="approveExpertise(expertise, $event)"/>
                </div>
              }
            }
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> {{'pages.project.science.noExpertisesExist' | translate}} </h2>
      }
    </div>
  </div>
</section>

<app-info-expertise-dialog [visible]="visible.expertise" [current]="currentExpertise" (changeVisibleEvent)="visibleOnChange($event)"></app-info-expertise-dialog>
