<app-header></app-header>
<main class="analyze">
  <div class="flex space-evenly">
    <p-button
      icon="pi pi-eye"
      [label]="`${'pages.project.science.watchProject' | translate}`"
      tooltipPosition="top"
      severity="secondary"
      (click)="showInfoProjectDialog($event)"/>
  </div>
  <h1>Моніторинг проекту</h1>
  <p-divider></p-divider>
  <section>
    <h2>Результат аналізу моделі "Метелик"</h2>
    <div class="flex">
      <p-button
        label="Дані обробки методу 'Метелик'"
        pTooltip="Натисніть, щоб перейти на сторінку методу 'Метелик'"
        severity="primary"
        (click)="navigate('analyze-butterfly')"/>
    </div>
  </section>
  <p-divider></p-divider>
  <section>
    <h2>Результат аналізу моделі "Сходи"</h2>
    <div class="flex">
      <p-button
        label="Дані обробки методу 'Сходи'"
        pTooltip="Натисніть, щоб перейти на сторінку методу 'Сходи'"
        severity="primary"
        (click)="navigate('analyze-stairs')"/>
    </div>
  </section>
  <p-divider></p-divider>
  <section>
    <h2>Вибірка прийнятих рішень</h2>
    <div class="flex">
      <p-button
        label="Обробка рішень"
        pTooltip="Натисніть, щоб перейти на сторінку обробки рішень"
        severity="primary"
        (click)="navigate('analyze-solution')"/>
    </div>
  </section>
  <p-divider></p-divider>
  <section>
    <h2>Загальний стан</h2>
    <div class="flex">
      <p-button
        label="Оглянути докладний стан проекту"
        pTooltip="Натисніть, щоб перейти на сторінку стану проекту"
        severity="primary"
        (click)="navigate('analyze-result')"/>
    </div>
  </section>

</main>
<app-footer></app-footer>
<app-info-dialog [visible]="visible.project" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>
