<section class="analyze">
  <div>
    <h3 for="">{{this.resultCalc.PV.label}}: {{this.resultCalc.PV.value}}</h3>
  </div>
  <div>
    <h3 for="">Цінність проекту: {{this.currentProject.projectValuation}}</h3>
  </div>
  <div>
    <h3 for="">{{this.resultCalc.R.label}}: {{this.resultCalc.R.value}}</h3>
  </div>
  <div>
    <h3 for="">{{this.resultCalc.AV.label}}: {{this.resultCalc.AV.value}}</h3>
  </div>
  <div>
    <h3 for="">{{this.resultCalc.AVL.label}}: {{this.resultCalc.AVL.value}}</h3>
  </div>
  <label for="">Стейкхолдери з великим показником ризиків</label>
  <div legend="Projects" class="container">
    @for (stackholder of risksStackholdersHighSorting; track stackholder) {
      <p-card
        [pTooltip]="`${'pages.main.main.stackholder' | translate}`"
        tooltipPosition="top"
        [style]="{
          'max-width': '300px',
          'margin-top': '10px',
          'overflow': 'hidden',
          'cursor': 'pointer'
        }">
        <ng-template #title>
          {{stackholder.responsibleOrganization}}
          <p-button
            icon="pi pi-eye"
            [pTooltip]="`${'pages.project.stackholder.watchStackholderTooltip' | translate}`"
            tooltipPosition="top"
            severity="secondary"
            (click)="showInfoStackholderDialog($index, $event)"/>
        </ng-template>
        <ng-template #content>
          <p>{{stackholder.responsibleName}} {{stackholder.responsibleSurname}} {{stackholder.responsibleLastname}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.typeStackholderLabel' | translate}}: </span>{{stackholder.type}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.risksLabel' | translate}}: </span>{{((stackholder.influence / 100) * ((stackholder.eco * (stackholder.ecoPos / 100)) + (stackholder.war * (stackholder.warPos / 100)) + (stackholder.log * (stackholder.logPos / 100)) + (stackholder.soc * (stackholder.socPos / 100)) + (stackholder.struc * (stackholder.strucPos / 100))) / 5).toFixed(2)}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.valuationLabel' | translate}}: </span>{{(((stackholder.power / 100) * (stackholder.transport + stackholder.social + stackholder.economic + stackholder.ecologic + stackholder.comfort + stackholder.technologic + stackholder.informative + stackholder.security + stackholder.managment) / 400) * this.currentProject.projectValuation).toFixed(2)}}</p>
        </ng-template>
      </p-card>
    } @empty {
      <h2 class="bold"> {{'pages.main.main.noProjectsExist' | translate}} </h2>
    }
  </div>
  <label for="">Стейкхолдери з меншим впливом цінності</label>
  <div legend="Projects" class="container">
    @for (stackholder of valuationStackholdersSorting; track stackholder) {
      <p-card
        [pTooltip]="`${'pages.main.main.stackholder' | translate}`"
        tooltipPosition="top"
        [style]="{
          'max-width': '300px',
          'margin-top': '10px',
          'overflow': 'hidden',
          'cursor': 'pointer'
        }">
        <ng-template #title>
          {{stackholder.responsibleOrganization}}
          <p-button
            icon="pi pi-eye"
            [pTooltip]="`${'pages.project.stackholder.watchStackholderTooltip' | translate}`"
            tooltipPosition="top"
            severity="secondary"
            (click)="showInfoStackholderDialog($index, $event)"/>
        </ng-template>
        <ng-template #content>
          <p>{{stackholder.responsibleName}} {{stackholder.responsibleSurname}} {{stackholder.responsibleLastname}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.typeStackholderLabel' | translate}}: </span>{{stackholder.type}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.risksLabel' | translate}}: </span>{{((stackholder.influence / 100) * ((stackholder.eco * (stackholder.ecoPos / 100)) + (stackholder.war * (stackholder.warPos / 100)) + (stackholder.log * (stackholder.logPos / 100)) + (stackholder.soc * (stackholder.socPos / 100)) + (stackholder.struc * (stackholder.strucPos / 100))) / 5).toFixed(2)}}</p>
          <p> <span class="bold">{{'pages.project.stackholder.valuationLabel' | translate}}: </span>{{(((stackholder.power / 100) * (stackholder.transport + stackholder.social + stackholder.economic + stackholder.ecologic + stackholder.comfort + stackholder.technologic + stackholder.informative + stackholder.security + stackholder.managment) / 400) * this.currentProject.projectValuation).toFixed(2)}}</p>
        </ng-template>
      </p-card>
    } @empty {
      <h2 class="bold"> {{'pages.main.main.noProjectsExist' | translate}} </h2>
    }
  </div>
</section>
<!-- <app-info-dialog-stack [visible]="visible.info" [currentStackholder]="currentStackholder" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog-stack> -->
