<section class="stackholder">
  <div legend="stackholder creation" class="container">
    <form #form="ngForm" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="form-container row">
        <div class="form-container column">
          @for (input of inputs.stackholdersLogistic; track input) {
            @if (input.displayCondition && input.type !== 'line') {
              <div class="flex flex-col gap-1">
                @if (input.type !== 'checklist') {
                  <label for="name" class="bold">{{input.label | translate}}
                    @if (input.suffix) {
                      {{input.suffix | translate}}
                    }
                  </label>
                }
                @if (input.type === 'text') {
                  <input
                    pInputText
                    type="text"
                    [id]="input.name"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    [name]="input.name || 'name'"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }" />
                } @else if (input.type === 'selector') {
                  <p-select
                    [inputId]="input.name"
                    [name]="input.name || 'name'"
                    [options]="input.items"
                    [(ngModel)]="input.value"
                    [ngModelOptions]="{ standalone: true }"
                    [placeholder]="input.placeholder | translate"
                    [pTooltip]="input.pTooltip | translate"
                    tooltipPosition="right"
                    class="w-full md:w-56" />
                }
              </div>
            } @else if (input.displayCondition) {
              <p-divider />
            }
          }
        </div>
        <div>
          <p-button
            [label]="'pages.portfolio.dialog.saveButton' | translate"
            [pTooltip]="'pages.portfolio.dialog.saveButtonTooltip' | translate"
            severity="primary"
            (click)="updateProject(form)" />
        </div>
      </div>
    </form>
  </div>
  <div legend="Stackholders" class="container scroll">
    @for (stackholder of currentProject.stackholders; track stackholder) {
      <p-card
        [style]="{
          'max-width': '300px',
          'margin': '10px',
          'overflow': 'hidden',
          'cursor': 'pointer'
        }">
        <ng-template #title> <span class="bold">Стейкхолдер: </span>
          {{stackholder.name}}
          <p-button
            icon="pi pi-times"
            [rounded]="true"
            [text]="true"
            (click)="removeStackholder($index)"
            pTooltip="Натисніть, щоб видалити стейкхолдер"
            severity="danger" />
        </ng-template>
        <ng-template #subtitle><span class="bold">Тип:</span> {{stackholder.type}} </ng-template>
      </p-card>
    } @empty {
      <h2 class="bold"> Cтейкхолдерів не знайдено... </h2>
    }
  </div>
  @if (stackholderData.tableParams.td.length) {
    <div>
      <h3>Встановіть тип зв'язку</h3>
      <p>0 – зв’язок відсутній або несуттєвий</p>
      <p>1 – слабка взаємодія (епізодичний контакт, формальна комунікація)</p>
      <p>2 – середня взаємодія (спільні заходи, регулярний обмін інформацією)</p>
      <p>3 – висока взаємодія (тривале партнерство, угоди, спільне управління)</p>
    </div>
    <div class="table-container">
      <p-table [value]="stackholderData.tableParams.td" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
        <ng-template #header>
            <tr>
              @for (th of stackholderData.tableParams.th; track `th-id-${th}`) {
                <th [id]="`th-id-${th}`">{{ th | translate }}</th>
              }
            </tr>
        </ng-template>
        <ng-template #body let-tds let-rowIndex="rowIndex">
          <tr>
            @for (td of tds; track `td-id-${td}${$index}`) {
              @if ($index !== 0 && tds[0] === stackholderData.tableParams.th[$index]) {
                <td [id]="`td-id-${td}`">-</td>
              } @else if ($index === 0) {
                <td [id]="`td-id-${td}`">{{td}}</td>
              } @else {
                <td [id]="`td-id-${td}`">
                  <p-inputnumber [ngModel]='stackholderData.tableParams.td[rowIndex][$index]' (ngModelChange)="changeTable($event, rowIndex, $index)" [min]="0" [max]="3" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal" [inputStyle]="{ width: '3rem' }">
                    <ng-template #incrementbuttonicon>
                      <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                      <span class="pi pi-minus"></span>
                    </ng-template>
                  </p-inputnumber>
                </td>
              }
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</section>
