/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  min-height: calc(100vh - 19px);
}

// body, div {
//   background-color: antiquewhite;
// }

// .p-card {
//   background-color: antiquewhite !important;
// }

// .p-menubar {
//   background-color: antiquewhite !important;
// }

.spinner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ba;
  z-index: 1;
}
.half {
  width: calc(50% - 20px);
}
.selector-lang {
  position: absolute;
  top: 20px;
  right: 20px;
}

html {
  font-size: 14px;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  line-height: normal;
}

input {
  margin: 5px 0;
}

button {
  margin: 5px 0;
}
p-button {
  margin: 5px 5px 5px 0;
}
.no-margin-top {
  margin-top: 0;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-border {
  border: 0;
}
// rgb(27, 93, 171) - чдту
.column {
  flex-direction: column !important;
}

.row {
  flex-direction: row !important;
}

.w-half {
  width: 50% !important;
}

.w-full {
  width: 100% !important;
}

.space-between {
  justify-content: space-between !important;
}
.space-evenly {
  justify-content: space-evenly !important;
}
.center {
  justify-content: center !important;
}
.items-center {
  align-items: center;
}

.w-300 {
  width: 300px !important;
}
.w-250 {
  width: 250px !important;
}

.bold {
  font-weight: 700;
}

.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.m-10 {
  margin: 10px;
}
