<app-header></app-header>
<main class="main">
  <section>
    <h1>{{'pages.main.main.headerPortfolio' | translate}}</h1>
    <div class="flex space-between">
      <p-button [label]="`${'pages.main.main.addNewPortfolioButton' | translate}`" (click)="navigate('cportfolio')" />
      <input
        type="text"
        pInputText
        [placeholder]="`${'pages.main.main.searchPortfolioPlaceholder' | translate}`"
        [pTooltip]="`${'pages.main.main.searchPortfolioTolltip' | translate}`"
        tooltipPosition="top"
        name="name"
        [(ngModel)]="search.portfolio"
        (ngModelChange)="findPortfolios()"
        />
    </div>
    <div legend="Portfolio" class="container">
      @for (portfolio of portfoliosList; track portfolio) {
        <p-card
          [pTooltip]="`${'pages.main.main.watchPortfolioTooltipFirstPart' | translate} ${portfolio.name} ${'pages.main.main.watchPortfolioTooltipLastPart' | translate}`"
          tooltipPosition="top"
          [style]="{
            'max-width': '300px',
            'margin-top': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }"
          (click)="showInfoPortfolio(portfolio)">
          <ng-template #header>
            <!-- <img src="https://static.vecteezy.com/system/resources/previews/017/065/272/non_2x/portfolio-text-button-portfolio-sign-icon-label-sticker-web-buttons-vector.jpg" alt="portfolio_art"> -->

            <img alt="Card" class="w-full" src="https://static.vecteezy.com/system/resources/previews/017/065/272/non_2x/portfolio-text-button-portfolio-sign-icon-label-sticker-web-buttons-vector.jpg" />
          </ng-template>
          <ng-template #title> {{portfolio.name}} </ng-template>
          <ng-template #subtitle><span class="bold">{{'pages.main.main.subinfoLabel' | translate}}:</span> {{portfolio.subinfo}} </ng-template>
          <p> <span class="bold">{{'pages.main.main.profitLabel' | translate}}:</span> {{portfolio.budget}}  {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
          <p> <span class="bold">{{'pages.main.main.projectsAmountLabel' | translate}}:</span> {{portfolio.projects}}</p>
          <p> <span class="bold">{{'pages.main.main.descriptionLabel' | translate}}:</span> {{portfolio.des}}</p>
          <ng-template #footer>
            <div class="flex space-evenly">
              <p-button
                [label]="`${'pages.main.main.updateButton' | translate}`"
                [pTooltip]="`${'pages.main.main.updateButtonTooltip' | translate} ${portfolio.name}`"
                tooltipPosition="top"
                severity="warn"
                (click)="updatePortfolio(portfolio, $event)"/>
              <p-button
                [label]="`${'pages.main.main.removeButton' | translate}`"
                [pTooltip]="`${'pages.main.main.removeButtonTooltip' | translate} ${portfolio.name}`"
                severity="danger"
                (click)="removePortfolio(portfolio._id, $event)"/>
            </div>
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> {{'pages.main.main.noPortfoliosExist' | translate}} </h2>
      }
    </div>
  </section>
  <p-divider />
  <section>
    <h1>{{'pages.main.main.headerProjects' | translate}}</h1>
    <div class="flex space-between">
      <p-button [label]="`${'pages.main.main.addNewProjectButton' | translate}`" (click)="showDialogProjects()" />
      <input
        type="text"
        pInputText
        [placeholder]="`${'pages.main.main.searchProjectPlaceholder' | translate}`"
        [pTooltip]="`${'pages.main.main.searchProjectTolltip' | translate}`"
        tooltipPosition="top"
        name="name"
        [(ngModel)]="search.project"
        (ngModelChange)="findProjects()"
        />
    </div>
    <div legend="Projects" class="container">
      @for (project of projectsList; track project) {
        <p-card
          [pTooltip]="`${'pages.main.main.watchProjectTooltipFirstPart' | translate} ${project.name} ${'pages.main.main.watchProjectTooltipLastPart' | translate}`"
          tooltipPosition="top"
          [style]="{
            'max-width': '300px',
            'margin-top': '10px',
            'overflow': 'hidden',
            'cursor': 'pointer'
          }"
          (click)="showInfoProjectDialog(project._id)">
          <ng-template #header>
            <img alt="Card" class="w-full" [src]="project.img" />
          </ng-template>
          <ng-template #title> {{project.name}} </ng-template>
          <ng-template #subtitle><span class="bold">{{'pages.main.main.subinfoLabel' | translate}}:</span> {{project.subinfo}} </ng-template>
          <ng-template #content>
            <p> <span class="bold">{{'pages.main.main.priorityLabel' | translate}}: </span>{{project.priority}}</p>
            <p> <span class="bold">{{'pages.main.main.budgetLabel' | translate}}:</span> {{project.budget}} {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
            <p> <span class="bold">{{'pages.main.main.permissionDurationLabel' | translate}}:</span> {{project.permissionDuration}} {{'pages.portfolio.dialog.processDurationSuffix' | translate}}</p>
            <p> <span class="bold">{{'pages.main.main.scoreLabel' | translate}}:</span> {{project.score}}</p>
            <p> <span class="bold">{{'pages.main.main.addressStartLabel' | translate}}:</span> {{project.addressStart}}</p>
            <p> <span class="bold">{{'pages.main.main.addressEndLabel' | translate}}:</span> {{project.addressEnd}}</p>
            <p> <span class="bold">{{'pages.main.main.descriptionLabel' | translate}}:</span> {{project.des}}</p>
          </ng-template>
          <ng-template #footer>
            <div class="flex space-evenly">
              <p-button
                [label]="`${'pages.main.main.updateButton' | translate}`"
                [pTooltip]="`${'pages.main.main.updateButtonTooltip' | translate} ${project.name}`"
                tooltipPosition="top"
                severity="warn"
                (click)="showDialogProjects(true, project._id, $event)"/>
              <p-button
                [label]="`${'pages.main.main.removeButton' | translate}`"
                [pTooltip]="`${'pages.main.main.removeButtonTooltip' | translate} ${project.name}`"
                severity="danger"
                (click)="removeProjects(project._id, $event)"/>
            </div>
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> {{'pages.main.main.noProjectsExist' | translate}} </h2>
      }
    </div>
  </section>
</main>
<app-footer></app-footer>

<app-info-dialog [visible]="visible.info" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>

<app-creation-dialog [formData]="currentProject" [visible]="visible.creation" (changeVisibleEvent)="visibleOnChange($event)" (submitionEvent)="getAllProjects()"></app-creation-dialog>
