<app-header></app-header>
<main class="main">
  <section>
    <h1>{{'pages.main.main.headerProjects' | translate}}</h1>
    @if (user.type === 'USER') {
      <div class="flex space-between">
        <p-button [label]="`${'pages.main.main.addNewProjectButton' | translate}`" (click)="showDialogProjects()" />
        <input
          type="text"
          pInputText
          [placeholder]="`${'pages.main.main.searchProjectPlaceholder' | translate}`"
          [pTooltip]="`${'pages.main.main.searchProjectTolltip' | translate}`"
          tooltipPosition="top"
          name="name"
          [(ngModel)]="search.project"
          (ngModelChange)="findProjects()"
          />
      </div>
    }
    <div legend="Projects" class="container">
      @for (project of projectsList; track project) {
        <p-card
          [style]="{
            'max-width': '300px',
            'margin-top': '10px',
            'overflow': 'hidden'
          }">
          @if (project.img) {
            <ng-template #header>
              <img alt="Card" class="w-full" [src]="project.img" />
            </ng-template>
          }
          <ng-template #title> <span class="bold">{{'pages.main.main.nameLabel' | translate}}: </span>{{project.name}} </ng-template>
          <ng-template #subtitle><span class="bold">{{'pages.main.main.descriptionLabel' | translate}}:</span> {{project.des}} </ng-template>
          <ng-template #content>
            <p> <span class="bold">{{'pages.portfolio.dialog.responsibleLabel' | translate}}: </span>{{project.responsibleName}}</p>
            <p> <span class="bold">{{'pages.main.main.priorityLabel' | translate}}: </span>{{project.priority}}</p>
            <p> <span class="bold">{{'pages.portfolio.dialog.subinfoLabel' | translate}}: </span>{{project.subinfo}}</p>
          </ng-template>
          <ng-template #footer>
            @if (user.type === 'USER') {
              <div class="flex space-evenly">
                <p-button
                  [label]="`${'pages.main.main.updateButton' | translate}`"
                  [pTooltip]="`${'pages.main.main.updateButtonTooltip' | translate} ${project.name}`"
                  tooltipPosition="top"
                  severity="warn"
                  (click)="showDialogProjects(true, project._id, $event)"/>
                <p-button
                  [label]="`${'pages.main.main.removeButton' | translate}`"
                  [pTooltip]="`${'pages.main.main.removeButtonTooltip' | translate} ${project.name}`"
                  severity="danger"
                  (click)="removeProjects(project._id, $event)"/>
              </div>
            }
            <div class="flex space-evenly">
              <p-button
                label="Метод комплексного аналізу стейкхолдерів"
                pTooltip="Натисніть, щоб перейти на сторінку методу комплексного аналізу стейкхолдерів"
                severity="primary"
                (click)="selectForCogAnalyzeModel(project._id, $event)"/>
            </div>
            <div class="flex space-evenly">
              <p-button
                label="Метод балансування інтересів стейкхолдерів"
                pTooltip="Натисніть, щоб перейти на сторінку методу балансування інтересів стейкхолдерів"
                severity="primary"
                (click)="selectForCogBalanceModel(project._id, $event)"/>
            </div>
          </ng-template>
        </p-card>
      } @empty {
        <h2 class="bold"> {{'pages.main.main.noProjectsExist' | translate}} </h2>
      }
    </div>
  </section>
</main>
<app-footer></app-footer>

<app-info-dialog [visible]="visible.info" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>

@if (visible.creation) {
  <app-creation-dialog [visible]="visible.creation" (changeVisibleEvent)="visibleOnChange($event)" (submitionEvent)="getAllProjects()"></app-creation-dialog>
}
