<app-header></app-header>
<main class="watch-one">
  <div class="image-preview">
    <img src="https://static.vecteezy.com/system/resources/previews/017/065/272/non_2x/portfolio-text-button-portfolio-sign-icon-label-sticker-web-buttons-vector.jpg" alt="portfolio_art">
  </div>
  <div>
    <h1>{{'pages.portfolio.confirmation.title' | translate}}: {{ data.name }}</h1>
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.confirmation.responsibleLabel' | translate}}:</span> {{data.responsibleName}} {{data.responsibleLastname}} {{data.responsibleSurname}}</p>
    <p> <span class="bold">{{'pages.portfolio.confirmation.responsibleOrganizationLabel' | translate}}:</span> {{data.responsibleOrganization}}</p>
    <p-divider />
    <p><span class="bold">{{'pages.portfolio.confirmation.projects' | translate}}</span>: {{ data.projects }}</p>
    <h2>{{'pages.portfolio.creation.thirdTierIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierI; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierI', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <h2>{{'pages.portfolio.creation.thirdTierIIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierII; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierII', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <h2>{{'pages.portfolio.creation.thirdTierIIIHeader' | translate}}</h2>
    <div legend="Projects" class="container">
      @for (project of data.projectIds.tierIII; track $index) {
        <p-card
          [pTooltip]="`${'pages.portfolio.creation.showProjectTooltip' | translate} ${project.name}`"
          tooltipPosition="top"
          [style]="{
            'width': '200px',
            'margin': '10px',
            'cursor': 'pointer',
            'box-shadow': '12px 12px 2px 1px rgba(0, 0, 0, 0.2)',
            'border': `1px solid ${
              project.priority === 10 ?
              'red': project.priority > 7 ?
              'yellow': project.priority > 4 ? 'green' : 'blue'
            }`
          }"
          (click)="showInfoProjectDialog(project._id, 'tierIII', $event)">
          <ng-template #title>
            {{'pages.portfolio.confirmation.projectCardNameLabel' | translate}}: {{project.name}}
          </ng-template>
          <ng-template #subtitle>
            <span class="bold">{{'pages.portfolio.confirmation.projectCardPriorityLabel' | translate}}: </span>
            <span
              [style]="{
                'color': project.priority === 10 ?
                'red': project.priority > 7 ?
                'yellow': project.priority > 4 ? 'green' : 'blue'}">{{project.priority}} </span>
          </ng-template>
          <p><span class="bold">{{'pages.portfolio.confirmation.projectCardSubinfoLabel' | translate}}:</span> {{project.subinfo}}</p>
        </p-card>
      } @empty {
        <p><span class="bold">{{'pages.portfolio.confirmation.noProjectHereTitle' | translate}}</span></p>
      }
    </div>
    <p-divider />
    <p><span class="bold">{{'pages.portfolio.confirmation.budget' | translate}}: </span>{{ data.budget }} {{'pages.portfolio.dialog.budgetSuffix' | translate}}</p>
    <!-- <p><span class="bold">{{'pages.portfolio.confirmation.profit' | translate}}: </span>{{ data.profit }} USD</p>
    <p><span class="bold">{{'pages.portfolio.confirmation.advantage' | translate}}: </span>{{ data.profit - data.budget }} USD</p> -->
    <!-- @if (data.location === "INSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationInside' | translate}}</p>
    } @else if (data.location === "OUTSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationOutside' | translate}}</p>
    } @else {
      <p><span class="bold">{{'pages.portfolio.confirmation.location' | translate}}: </span>{{'pages.portfolio.confirmation.locationComplex' | translate}}</p>
    }
    @if (data.location !== "OUTSIDE") {
      <p><span class="bold">{{'pages.portfolio.confirmation.town' | translate}}: </span>{{ data.town }}</p>
    } -->
    <p-divider />
    <p> <span class="bold">{{'pages.portfolio.confirmation.descriptionLabel' | translate}}: </span>{{ data.des }}</p>
  </div>
</main>
<app-footer></app-footer>

<app-info-dialog [visible]="visible.info" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>
