<app-header></app-header>
<main class="projects">
  <div class="flex space-evenly">
    <p-button
      icon="pi pi-eye"
      [label]="`${'pages.project.science.watchProject' | translate}`"
      tooltipPosition="top"
      severity="secondary"
      (click)="showInfoProjectDialog($event)"/>
  </div>

  <div>
    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">{{'pages.project.science.risks' | translate}}</p-step>
        <p-step [value]="2">{{'pages.project.science.result' | translate}}</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <app-cog-card></app-cog-card>
            </div>
            <div class="flex pt-6 justify-end">
              <p-button
                [label]="`${'pages.portfolio.dialog.nextButton' | translate}`"
                [pTooltip]="'pages.portfolio.dialog.nextButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="activateCallback(2)"/>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div>
                <app-experts></app-experts>
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button
                [label]="`${'pages.portfolio.dialog.backButton' | translate}`"
                [pTooltip]="'pages.portfolio.dialog.backButtonTooltip' | translate"
                tooltipPosition="top"
                severity="primary"
                (click)="activateCallback(1)"/>
              <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</main>
<app-footer></app-footer>
<app-info-dialog [visible]="visible.project" [currentProject]="currentProject" (changeVisibleEvent)="visibleOnChange($event)"></app-info-dialog>
