<app-header></app-header>
<section class="pinfo">
  <p-button
    label="Повернутись"
    pTooltip="Повернення до вибору етапів проекту"
    tooltipPosition="top"
    severity="primary"
    (click)="back()"/>
  <div>
    <h1>Етап {{currentPhase.name}}</h1>
    <p> <span class="bold">Відповідальна особа етапу:</span> {{currentPhase.managerName}}</p>
    <p> <span class="bold">Відповідальна організація:</span> {{currentPhase.responsibleOrganization}}</p>
    <p> <span class="bold">Бюджет:</span> {{currentPhase.budget}} UAH</p>
    <p> <span class="bold">Джерело бюджету:</span> {{currentPhase.budgetSource}}</p>
    <p> <span class="bold">Додаткова інформація:</span> {{currentPhase.term}} рб.дн</p>
    <p> <span class="bold">Запланована кількість завдань:</span> {{currentPhase.forecastProjectTaskAmount}}</p>
  </div>
  <!-- @for (time of currentPhase.time; track time) {
    <p-divider />
  } -->
  @for (time of timeTables; track time) {
    <p-divider />
    <h2>{{time.date}}</h2>
    <div legend="stackholder creation" class="container">
      <div class="table-container">
        <p-table [value]="time.tableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
          <ng-template #header>
              <tr>
                @for (th of time.tableParams.th; track `th-id-${th}`) {
                  <th [id]="`th-id-${th}`">{{ th }}</th>
                }
              </tr>
          </ng-template>
          <ng-template #body let-tds>
              <tr>
                @for (td of tds; track `td-id-${td}${$index}`) {
                  @if ($index !== 0 && tds[0] === time.tableParams.th[$index]) {
                    <td [id]="`td-id-${td}`">-</td>
                  } @else {
                    <td [id]="`td-id-${td}`">{{ td }}</td>
                  }
                }
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    @for (stackholder of time.stackholders; track stackholder) {
      <div>
        <h3>Стейкхолдер: {{stackholder.label}}</h3>
          @if (stackholder.riskTableParams) {
            <div class="table-container">
              <p-table [value]="stackholder.riskTableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
                <ng-template #header>
                    <tr>
                      @for (th of stackholder.riskTableParams.th; track `th-id-${th}`) {
                        <th [id]="`th-id-${th}`">{{ th }}</th>
                      }
                    </tr>
                </ng-template>
                <ng-template #body let-tds>
                    <tr>
                      @for (td of tds; track `td-id-${td}${$index}`) {
                        @if ($index !== 0 && tds[0] === stackholder.riskTableParams.th[$index]) {
                          <td [id]="`td-id-${td}`">-</td>
                        } @else {
                          <td [id]="`td-id-${td}`">{{ td }}</td>
                        }
                      }
                    </tr>
                </ng-template>
              </p-table>
            </div>
          }
          @if (stackholder.waitingTableParams) {
            <div class="table-container">
              <p-table [value]="stackholder.waitingTableParams.td" [scrollable]="true" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
                <ng-template #header>
                    <tr>
                      @for (th of stackholder.waitingTableParams.th; track `th-id-${th}`) {
                        <th [id]="`th-id-${th}`">{{ th }}</th>
                      }
                    </tr>
                </ng-template>
                <ng-template #body let-tds>
                    <tr>
                      @for (td of tds; track `td-id-${td}${$index}`) {
                        @if ($index !== 0 && tds[0] === stackholder.waitingTableParams.th[$index]) {
                          <td [id]="`td-id-${td}`">-</td>
                        } @else {
                          <td [id]="`td-id-${td}`">{{ td }}</td>
                        }
                      }
                    </tr>
                </ng-template>
              </p-table>
            </div>
          }
      </div>
    }
  }
</section>
<app-footer></app-footer>
