<app-header></app-header>
<main class="analyze-butterfly">
  <div class="flex">
    <p-button
      label="Назад"
      pTooltip="Натисніть, щоб перейти на сторінку аналізу"
      severity="primary"
      (click)="back()"/>
  </div>
  <section>
    <p-button
      label="Створити ризик"
      pTooltip="Натисніть, щоб створити новий ризик"
      tooltipPosition="top"
      severity="primary"
      (click)="openDialogAddUpdateRow()"/>
    <div class="container-analyze flex column">
      <h2> <span class="bold">Ризики</span></h2>
    </div>
    @if (currentRiskTables) {
      <div class="table-container">
        <p-table [value]="currentRiskTables?.td" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }" [style]="{ 'width': '100%' }">
          <ng-template #header>
              <tr>
                @for (th of currentRiskTables?.th; track `th-id-${th}`) {
                  <th [id]="`th-id-${th}`">{{ th }}</th>
                }
              </tr>
          </ng-template>
          <ng-template #body let-tds let-rowIndex="rowIndex">
            <tr>
              @for (td of tds; track `td-id-${td}${$index}`) {
                @if ($index === 4 || $index === 5) {
                  <td
                    class="bold"
                    [style]="{
                      color: td === 'Критична' || (+td.split(' %')[0] > 75) ? 'red' :
                      td === 'Висока' || (+td.split(' %')[0] > 50) ? 'darkred' :
                      td === 'Помірна' || (+td.split(' %')[0] > 25) ? 'darkgoldenrod' : 'darkgreen'
                    }">
                      {{td}}
                  </td>
                } @else {
                  <td [id]="`td-id-${td}`">{{td}}</td>
                }
              }
              <td [id]="`td-id-actions-${rowIndex}`" [style]="{ 'min-width': '15rem' }">
                <div class="actions">
                  <button
                    pButton
                    iconOnly
                    rounded
                    raised
                    variant="text"
                    pTooltip="Натисніть, щоб переглянути цей ризик"
                    tooltipPosition="top"
                    severity="secondary"
                    [style]="{
                      'width': '30px',
                      'height': '30px',
                      'margin': '5px 5px',
                    }"
                    (click)="openDialogInfo(rowIndex)"
                    aria-label="Notification">
                      <svg data-p-icon="eye"></svg>
                  </button>
                  <button
                    pButton
                    iconOnly
                    rounded
                    raised
                    variant="text"
                    pTooltip="Натисніть, щоб оновити цей ризик"
                    tooltipPosition="top"
                    severity="warn"
                    [style]="{
                      'width': '30px',
                      'height': '30px',
                      'margin': '5px 5px',
                    }"
                    (click)="openDialogAddUpdateRow(rowIndex)"
                    aria-label="Notification">
                      <svg data-p-icon="pencil"></svg>
                  </button>
                  <button
                    pButton
                    iconOnly
                    rounded
                    raised
                    variant="text"
                    pTooltip="Натисніть, щоб видалити цей ризик"
                    tooltipPosition="left"
                    severity="danger"
                    [style]="{
                      'width': '30px',
                      'height': '30px',
                      'margin': '5px 5px',
                    }"
                    (click)="remove(rowIndex)"
                    aria-label="Cancel">
                      <svg data-p-icon="times"></svg>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    }
  </section>
  <section>
    <h2>Фактори</h2>
    <div class="flex flex-col h-48">
      <app-factors (updateView)="updateView()"></app-factors>
    </div>
    @if (currentProject.analyze?.butterflyFactorData) {
      <div class="flex flex-col h-48">
        <div class="container-analyze flex column">
          <h3>Тип впливу</h3>
          <div class="flex line">
            <div class="square light"></div>
            <p> Слабкий вплив </p>
          </div>
          <div class="flex line">
            <div class="square green"></div>
            <p> Середній вплив </p>
          </div>
          <div class="flex line">
            <div class="square blue"></div>
            <p> Сильний вплив </p>
          </div>
        </div>
        <div id="model-container" class="container model-container-KO"></div>
      </div>
    }

  </section>
</main>
<app-footer></app-footer>

<app-creation-dialog
  [visible]="visible.creation"
  (changeVisibleEvent)="visibleOnChange($event)"
  (submitionUpdateEvent)="updateRisk($event)"
  (submitionCreateEvent)="createRisk($event)"></app-creation-dialog>
